/* ---Font Icons--- */

@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontsTypIcons/typicons.eot');
  src: url('../fonts/fontsTypIcons/typicons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontsTypIcons/typicons.woff') format('woff'),
  url('../fonts/fontsTypIcons/typicons.ttf') format('truetype'),
  url('../fonts/fontsTypIcons/typicons.svg#typicons') format('svg');
}

/* :before psuedo-selector inserts and styles icon */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-size: 3em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: absolute;
  left: -1.2em;
  top: -.1em;
}

.typcn-briefcase:before {
  content: '\e034';
}

.typcn-pencil:before {
  content: '\e0c3';
}

.typcn-mortar-board:before {
  content: '\e0be';
}

.typcn-business-card:before {
  content: '\e036';
}
