/* ---Variables--- */

$bgBody: #ebebeb;
$bgFooter: #494949;
$bgHeader: rgba(255, 255, 255, 0.65);
$bgHeaderOpacity: rgba(255, 255, 255, 0);
$bgPortfolioItem: #fff;
$bgMobileMenu: #f5f5f5;
$borderColor: #d5d5d5;
$colorFont_1: #444444;
$colorFont_2: #9d9b9b;
$colorFont_3: #ff7e00;
$colorFont_4: #fff;