<div class="comments-wrap">
    <div class="comments">
        <div class="comments-top">
            <div class="comments-label">
                <span class="comments-label-text">коментарі</span>
                <span class="comments-label-separator">•</span>
                <span class="comments-label-number">4</span>
            </div>
            <div class="comments-field-wrap clearfix">
                <div class="comment-avatar">
                    <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                </div>
                <div class="comment-field form-global">
                    <input type="text" class="form-control comment-input" placeholder="Написати коментар ...">
                </div>
                <button class="btn btn-blue btn-comment">Надіслати</button>
            </div>
        </div>
        <div class="comments-content">
            <div class="comment-wrap clearfix">
                <div class="comment-avatar">
                    <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                </div>
                <div class="comment-content">
                    <div class="comment-top">
                        <span class="comment-name">Людмила Белиш</span>
                        <span class="comment-date">13 березня 2016, 11:40</span>
                    </div>
                    <div class="comment-middle">
                        <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                            більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                            текст." Це робить текст схожим на оповідний.</p>
                    </div>
                    <div class="comment-bottom">
                        <span class="comment-add-subcomment">
                            <i class="fa fa-comment-o"></i>
                            <span class="comment-add-subcomment-text">Коментувати</span>
                        </span>
                        <span class="comment-add-rating">
                            <i class="fa fa-star-half-o"></i>
                            <span class="comment-add-rating-text">Оцінити</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment-wrap comment-sub-wrap clearfix">
                <div class="comment-avatar">
                    <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                </div>
                <div class="comment-content">
                    <div class="comment-top">
                        <span class="comment-name">Людмила Белиш</span>
                        <span class="comment-date">13 березня 2016, 11:40</span>
                    </div>
                    <div class="comment-middle">
                        <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                            більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                            текст." Це робить текст схожим на оповідний.</p>
                    </div>
                    <div class="comment-bottom">
                        <span class="comment-add-subcomment">
                            <i class="fa fa-comment-o"></i>
                            <span class="comment-add-subcomment-text">Коментувати</span>
                        </span>
                        <span class="comment-add-rating">
                            <i class="fa fa-star-half-o"></i>
                            <span class="comment-add-rating-text">Оцінити</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment-wrap clearfix">
                <div class="comment-avatar">
                    <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                </div>
                <div class="comment-content">
                    <div class="comment-top">
                        <span class="comment-name">Людмила Белиш</span>
                        <span class="comment-date">13 березня 2016, 11:40</span>
                    </div>
                    <div class="comment-middle">
                        <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                            більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                            текст." Це робить текст схожим на оповідний.</p>
                    </div>
                    <div class="comment-bottom">
                        <span class="comment-add-subcomment">
                            <i class="fa fa-comment-o"></i>
                            <span class="comment-add-subcomment-text">Коментувати</span>
                        </span>
                        <span class="comment-add-rating">
                            <i class="fa fa-star-half-o"></i>
                            <span class="comment-add-rating-text">Оцінити</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment-wrap clearfix">
                <div class="comment-avatar">
                    <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                </div>
                <div class="comment-content">
                    <div class="comment-top">
                        <span class="comment-name">Людмила Белиш</span>
                        <span class="comment-date">13 березня 2016, 11:40</span>
                    </div>
                    <div class="comment-middle">
                        <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                            більш-менш нормальне розподілення літер на відміну від.</p>
                    </div>
                    <div class="comment-bottom">
                        <span class="comment-add-subcomment">
                            <i class="fa fa-comment-o"></i>
                            <span class="comment-add-subcomment-text">Коментувати</span>
                        </span>
                        <span class="comment-add-rating">
                            <i class="fa fa-star-half-o"></i>
                            <span class="comment-add-rating-text">Оцінити</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>