<div class="col-sm-7 col-md-8 col-lg-9">
    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">новини</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">7</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">фотографії</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">47</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">відеозаписи</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">2</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-wrap clearfix">
                            <div class="news-img-wrap">
                                <img src="../images/organization-news.jpg" alt="" class="news-img">
                                <div class="news-img-date">
                                    <span class="news-img-date-number">15</span>
                                    <span class="news-img-date-month">квіт.</span>
                                </div>
                            </div>
                            <div class="news-about">
                                <a href="#" class="news-about-title">Поля вже зорано, час починати засіви.</a>
                                <p class="news-about-preview">Вже давно відомо, що читабельний зміст буде заважати
                                    зосередитись людині, яка оцінює композицію сторінки.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content-bottom">
                    <a href="" class="tab-view-all pull-right">
                        <span class="tab-view-all-text">Переглянути всі</span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">...2</div>
            <div role="tabpanel" class="tab-pane" id="tab-3">...3</div>
        </div>
        <!-- END Tab-panes -->
    </div>

    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">пропозиції</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">5</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">замовлення</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">64</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-4">

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-new">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Хліб житній з висів ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-sale">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                    <span class="product-price-sale">1510 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Пшениця зерно</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content-bottom">
                    <a href="" class="tab-view-all pull-right">
                        <span class="tab-view-all-text">Переглянути всі</span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-5">...2</div>
        </div>
        <!-- END Tab-panes -->
    </div>

    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-6" aria-controls="tab-6" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">пропоную послуги</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">5</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-7" aria-controls="tab-7" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">замовляю послуги</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">64</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-6">

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-new">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Хліб житній з висів ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-sale">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                    <span class="product-price-sale">1510 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Пшениця зерно</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content-bottom">
                    <a href="" class="tab-view-all pull-right">
                        <span class="tab-view-all-text">Переглянути всі</span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-7">...2</div>
        </div>
        <!-- END Tab-panes -->
    </div>

    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-8" aria-controls="tab-8" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">пропоную інвестиції</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">5</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-9" aria-controls="tab-9" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">замовляю інвестиції</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">64</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-8">

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-new">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Хліб житній з висів ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-sale">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                    <span class="product-price-sale">1510 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Пшениця зерно</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content-bottom">
                    <a href="" class="tab-view-all pull-right">
                        <span class="tab-view-all-text">Переглянути всі</span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-9">...2</div>
        </div>
        <!-- END Tab-panes -->
    </div>

    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-10" aria-controls="tab-10" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">пропоную технології</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">2</span>
                    </a>
                </li>
                <li role="presentation" class="tab-nav-item">
                    <a href="#tab-11" aria-controls="tab-11" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">замовляю технології</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">0</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-10">

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-new">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Хліб житній з висів ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="product product-sale">
                            <div class="wrap-product-img">
                                <img class="product-img" src="../images/organization-product-img.jpg" alt="">
                            </div>
                            <div class="wrap-product-review">
                                <a href="#" class="product-title-link">Борошно пшенич ...</a>
                                <div class="wrap-product-price">
                                    <span class="product-price">1300 грн.</span>
                                    <span class="product-price-sale">1510 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content-bottom">
                    <a href="" class="tab-view-all pull-right">
                        <span class="tab-view-all-text">Переглянути всі</span>
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-11">...2</div>
        </div>
        <!-- END Tab-panes -->
    </div>
</div>


