<!-- START form-login -->

<div class="col-sm-6">
    <div class="form-wrap">
        <form id="form-login" class="form-login form-global">
            <fieldset class="form-group">
                <label for="login" class="form-label">Логін</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Введіть логін">
                <i class="fa fa-user"></i>
            </fieldset>
            <fieldset class="form-group">
                <label for="password-1" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="password" id="password-1"
                       placeholder="Введіть пароль">
                <i class="fa fa-lock"></i>
            </fieldset>
            <div class="form-login-bottom">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="custom-checkbox">
                            <input type="checkbox" value="" id="remember-me" name=""/>
                            <label class="custom-checkbox-wrap" for="remember-me">
                                <span class="custom-checkbox-square"></span>
                                <span class="custom-checkbox-text">Запам’ятати мене</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 clearfix">
                        <div class="forgot-link-wrap">
                            <i class="fa fa-compass"></i>
                            <span class="forgot-link" data-toggle="modal"
                                  data-target="#forgot-password">Забули пароль?</span>
                        </div>

                        <button type="submit" class="btn btn-blue">Увійти на сайт</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END form-login -->

<!-- START form-registration -->
<div class="col-sm-6">
    <div class="form-wrap">
        <form id="form-register" class="form-register form-global">
            <h2 class="form-title">Ви ще не зареєстровані на сайті?</h2>
            <h3 class="form-sub-title">Зареєструйтеся прямо зараз!</h3>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="name" class="form-label">Ім’я</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Введіть ім’я">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="surname" class="form-label">Прізвище</label>
                        <input type="text" class="form-control" id="surname" name="surname"
                               placeholder="Введіть прізвище">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="city" class="form-label">Місто</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Введіть місто">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="street" class="form-label">Вулиця</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="Введіть вулицю">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="house" class="form-label">Будинок</label>
                        <input type="text" class="form-control" id="house" name="house"
                               placeholder="Введіть номер будинку">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="housing" class="form-label">Корпус</label>
                        <input type="text" class="form-control" id="housing" name="housing"
                               placeholder="Введіть номер корпусу">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="porch" class="form-label">Під’їзд</label>
                        <input type="text" class="form-control" id="porch" name="porch"
                               placeholder="Введіть номер під’їзду">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="apartment" class="form-label">Квартира</label>
                        <input type="text" class="form-control" id="apartment" name="apartment"
                               placeholder="Введіть номер квартири">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="phone" class="form-label">Телефон</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введіть телефон">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="mail" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="mail" name="mail"
                               placeholder="Введіть електронну адресу">
                    </fieldset>
                </div>

                <div class="col-xs-12">
                    <fieldset class="form-group">
                        <label for="reg-login" class="form-label">Логін</label>
                        <input type="text" class="form-control" id="reg-login" name="reglogin"
                               placeholder="Введіть логін">
                        <i class="fa fa-user"></i>
                    </fieldset>
                </div>
                <div class="col-xs-12">
                    <fieldset class="form-group">
                        <label for="reg-password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="reg-password" name="regpassword"
                               placeholder="Введіть пароль">
                        <i class="fa fa-lock"></i>
                    </fieldset>
                </div>
                <div class="col-xs-12">
                    <fieldset class="form-group">
                        <label for="reg-password-confirm" class="form-label">Підтвердждення паролю</label>
                        <input type="password" class="form-control" id="reg-password-confirm" name="regpasswordconfirm"
                               placeholder="Введіть пароль ще раз">
                        <i class="fa fa-lock"></i>
                    </fieldset>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-blue">Зареєструватися</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- START form-registration -->

<!-- START forgot-password-modal -->
<div id="forgot-password" class="modal fade modal-global" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Не можете згадати свій пароль?</h4>
            </div>
            <form id="form-forgot-password" class="form-forgot-password form-global">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label for="mail" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="mail-forgot" name="mail"
                               placeholder="Введіть електронну адресу">
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-blue">Нагадати пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END forgot-password-modal -->