<div class="col-sm-7 col-md-8 col-lg-9">
    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-plus"></i>
                <span class="add-news-text">додати новину</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">новини</span>
                        <span class="tab-nav-separator">•</span>
                        <span class="tab-nav-number">7</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-blue">Продовжено</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном "lorem ipsum" відкриє багато веб-сайтів, які знаходяться ще в зародковому
                                стані.</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-red">Відхилено</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">відхилено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="section-discussion">
                            <div class="discussion-btn-wrap">
                                <div class="btn btn-grey">Обговорюється</div>
                            </div>
                            <a href="#" class="discussions-theme-link">Тема обговорення порядку
                                денного
                            </a>
                            <p class="discussions-theme-about">Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном Багато програм верстування та веб-дизайну використовують
                                Lorem Ipsum як зразок і пошук за
                                терміном</p>

                            <div class="sidebar-discussions-theme-author clearfix">
                                <img src="../images/discussion-avatar.jpg" alt="" class="discussions-theme-author-avatar">
                                <div class="discussions-details">
                                    <div class="discussions-theme-author-name">Людмила Белиш</div>
                                    <span class="discussions-details-text">створено:</span>
                                    <span class="discussions-theme-from">03.08.2015, 16:03</span>
                                    <span class="discussions-details-text">продовжено:</span>
                                    <span class="discussions-theme-to">18.03.2016, 12:34</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tab-panes -->
    </div>
</div>


