<div class="col-sm-7 col-md-8 col-lg-9">
    <div class="section-tab-wrap">
        <!--START Nav-tabs -->
        <div class="nav-tabs-wrap">
            <span class="btn-add-news">
                <i class="fa fa-chevron-left"></i>
                <span class="add-news-text">назад до всіх тем</span>
            </span>
            <ul class="nav nav-tabs tab-nav-list" role="tablist">
                <li role="presentation" class="tab-nav-item active">
                    <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="tab-nav-item-link">
                        <span class="tab-nav-text">всі відповіді</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--END Nav-tabs -->

        <!-- START Tab-panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <div class="organization-vote-wrap">
                    <h3 class="organization-vote-title content-title">Нова тема для обговорення стосовно відновленого
                        процесу
                        подальшого розвитку</h3>
                    <p class="organization-vote-about">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                        більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                        текст." Це робить текст схожим на оповідний.</p>
                    <div class="vote-wrap">
                        <h3 class="content-title">Зробити оцінку</h3>
                        <div class="vote">
                            <span class="btn vote-btn btn-blue">
                                <span class="vote-btn-text">Проти</span>
                                <span class="vote-btn-separator">•</span>
                                <span class="vote-btn-number">36</span>
                            </span>
                            <span class="btn vote-btn btn-grey">
                                <span class="vote-btn-text">Утримались</span>
                                <span class="vote-btn-separator">•</span>
                                <span class="vote-btn-number">36</span>
                            </span>
                            <span class="btn vote-btn btn-red">
                                <span class="vote-btn-text">За</span>
                                <span class="vote-btn-separator">•</span>
                                <span class="vote-btn-number">36</span>
                            </span>
                        </div>
                    </div>

                    <div class="comments-content">
                        <div class="comment-wrap clearfix">
                            <div class="comment-avatar">
                                <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <span class="comment-name">Людмила Белиш</span>
                                    <span class="comment-date">13 березня 2016, 11:40</span>
                                </div>
                                <div class="comment-middle">
                                    <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                                        більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                                        текст." Це робить текст схожим на оповідний.</p>
                                </div>
                                <div class="comment-bottom">
                                        <span class="comment-add-subcomment">
                                            <i class="fa fa-comment-o"></i>
                                            <span class="comment-add-subcomment-text">Коментувати</span>
                                        </span>
                                        <span class="comment-add-rating">
                                            <i class="fa fa-star-half-o"></i>
                                            <span class="comment-add-rating-text">Оцінити</span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-wrap comment-sub-wrap clearfix">
                            <div class="comment-avatar">
                                <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <span class="comment-name">Людмила Белиш</span>
                                    <span class="comment-date">13 березня 2016, 11:40</span>
                                </div>
                                <div class="comment-middle">
                                    <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                                        більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                                        текст." Це робить текст схожим на оповідний.</p>
                                </div>
                                <div class="comment-bottom">
                                        <span class="comment-add-subcomment">
                                            <i class="fa fa-comment-o"></i>
                                            <span class="comment-add-subcomment-text">Коментувати</span>
                                        </span>
                                        <span class="comment-add-rating">
                                            <i class="fa fa-star-half-o"></i>
                                            <span class="comment-add-rating-text">Оцінити</span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-wrap clearfix">
                            <div class="comment-avatar">
                                <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <span class="comment-name">Людмила Белиш</span>
                                    <span class="comment-date">13 березня 2016, 11:40</span>
                                </div>
                                <div class="comment-middle">
                                    <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                                        більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде
                                        текст." Це робить текст схожим на оповідний.</p>
                                </div>
                                <div class="comment-bottom">
                                        <span class="comment-add-subcomment">
                                            <i class="fa fa-comment-o"></i>
                                            <span class="comment-add-subcomment-text">Коментувати</span>
                                        </span>
                                        <span class="comment-add-rating">
                                            <i class="fa fa-star-half-o"></i>
                                            <span class="comment-add-rating-text">Оцінити</span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-wrap clearfix">
                            <div class="comment-avatar">
                                <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                            </div>
                            <div class="comment-content">
                                <div class="comment-top">
                                    <span class="comment-name">Людмила Белиш</span>
                                    <span class="comment-date">13 березня 2016, 11:40</span>
                                </div>
                                <div class="comment-middle">
                                    <p class="comment-text">Сенс використання Lorem Ipsum полягає в тому, що цей текст має
                                        більш-менш нормальне розподілення літер на відміну від.</p>
                                </div>
                                <div class="comment-bottom">
                                        <span class="comment-add-subcomment">
                                            <i class="fa fa-comment-o"></i>
                                            <span class="comment-add-subcomment-text">Коментувати</span>
                                        </span>
                                        <span class="comment-add-rating">
                                            <i class="fa fa-star-half-o"></i>
                                            <span class="comment-add-rating-text">Оцінити</span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments-field-wrap clearfix">
                        <div class="comment-avatar">
                            <img src="../images/comment-avatar.jpg" alt="" class="comment-avatar-img">
                        </div>
                        <div class="comment-field form-global">
                            <input type="text" class="form-control comment-input" placeholder="Написати коментар ...">
                        </div>
                        <button class="btn btn-blue btn-comment">Надіслати</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tab-panes -->
    </div>
</div>


