<div class="header-bottom-profile">
    <div class="header-bottom-nav-wrap">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="header-bottom-nav">
                            <div class="navbar-default">
                                <ul class="header-middle-nav-list nav navbar-nav navbar-right">
                                    <li class="header-middle-nav-item dropdown">
                                        <a href="#" class="header-middle-nav-link dropdown-toggle "
                                           data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">Товари пропоную<span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                        </ul>
                                    </li>
                                    <li class="header-middle-nav-item dropdown">
                                        <a href="#" class="header-middle-nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true" aria-expanded="false">Послуги <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                        </ul>
                                    </li>
                                    <li class="header-middle-nav-item dropdown">
                                        <a href="#" class="header-middle-nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true" aria-expanded="false">Технології <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                        </ul>
                                    </li>
                                    <li class="header-middle-nav-item dropdown">
                                        <a href="#" class=" header-middle-nav-link dropdown-toggle"
                                           data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">Інвестиції <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                        </ul>
                                    </li>
                                    <li class="header-middle-nav-item">
                                        <a class="header-middle-nav-link" href="#">обговорення</a>
                                    </li>
                                    <li class="header-middle-nav-item dropdown">
                                        <a href="#" class=" header-middle-nav-link dropdown-toggle"
                                           data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">більше <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                            <li><a href="#">Тест</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>