<header class="header-main">

    <!-- START header-top -->
    <div class="header-top">
        <div class="container">
            <div class="row hidden-xs">
                <!-- START header-top social -->
                <div class="col-sm-3 col-md-2">
                    <div class="social">
                        <ul class="social-list">
                            <li class="social-item">
                                <a href="#" class="social-link">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="#" class="social-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="#" class="social-link">
                                    <i class="fa fa-vk"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END header-top social -->

                <!-- START header-top menu -->
                <div class="col-sm-6 col-md-5 col-lg-4 col-sm-offset-3 col-md-offset-5 col-lg-offset-6 clearfix">
                    <div class="header-top-nav">
                        <ul class="header-top-nav-list">
                            <li class="header-top-nav-item">
                                <a href="#" class="header-top-nav-link">Новини</a>
                            </li>
                            <li class="header-top-nav-item">
                                <a href="#" class="header-top-nav-link">Про нас</a>
                            </li>
                            <li class="header-top-nav-item">
                                <a href="#" class="header-top-nav-link">Історія</a>
                            </li>
                            <li class="header-top-nav-item">
                                <a href="#" class="header-top-nav-link">Довідка</a>
                            </li>
                        </ul>
                    </div>
                    <div class="switch-language">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">UK <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Українська</a></li>
                                    <li><a href="#">Російська</a></li>
                                    <li><a href="#">Англійська</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END header-top menu -->
            </div>
        </div>
    </div>
    <!-- END header-top -->

    <!-- START header-middle -->
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <nav class="header-middle-nav navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img class="header-logo" src="../images/perehid4-logo.png" alt="">
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="header-middle-nav-list nav navbar-nav navbar-right">
                                <li class="header-middle-nav-item dropdown">
                                    <a href="#" class="header-middle-nav-link dropdown-toggle "
                                       data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Товари пропоную<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                    </ul>
                                </li>
                                <li class="header-middle-nav-item dropdown">
                                    <a href="#" class="header-middle-nav-link dropdown-toggle" data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true" aria-expanded="false">Послуги <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                    </ul>
                                </li>
                                <li class="header-middle-nav-item dropdown">
                                    <a href="#" class="header-middle-nav-link dropdown-toggle" data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true" aria-expanded="false">Послуги <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                    </ul>
                                </li>
                                <li class="header-middle-nav-item dropdown">
                                    <a href="#" class=" header-middle-nav-link dropdown-toggle"
                                       data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Послуги <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                        <li><a href="#">Тест</a></li>
                                    </ul>
                                </li>
                                <li class="header-middle-nav-item">
                                    <a class="header-middle-nav-link" href="#">Користувачі</a>
                                </li>
                                <li class="header-middle-nav-item dropdown">
                                    <a href="#" class=" header-middle-nav-link dropdown-toggle"
                                       data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-shopping-basket"></i>
                                        <span class="cart-product-number">2</span>
                                    </a>
                                    <div class="dropdown-menu header-middle-cart">
                                        <div class="cart-dropdown-top clearfix">
                                            <div class="cart-dropdown-product-number">2 товари</div>
                                            <div class="cart-dropdown-product-price">1000 грн</div>
                                        </div>
                                        <div class="cart-dropdown">
                                            <div class="cart-dropdown-body">
                                                <div class="cart-dropdown-product clearfix">
                                                    <i class="fa fa-close"></i>
                                                    <div class="cart-dropdown-product-img">

                                                    </div>

                                                    <div class="wrap-cart-product-review">
                                                        <a href="#" class="cart-product-title-link">ASKHOLMEN
                                                            підставка для
                                                            вазонів дерев’яна...</a>
                                                        <div class="wrap-cart-product-price">
                                                            <span class="cart-product-price">500 грн.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-dropdown">
                                            <div class="cart-dropdown-body">
                                                <div class="cart-dropdown-product clearfix">
                                                    <i class="fa fa-close"></i>
                                                    <div class="cart-dropdown-product-img">

                                                    </div>

                                                    <div class="wrap-cart-product-review">
                                                        <a href="#" class="cart-product-title-link">ASKHOLMEN
                                                            підставка для
                                                            вазонів дерев’яна...</a>
                                                        <div class="wrap-cart-product-price">
                                                            <span class="cart-product-price">500 грн.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-dropdown-buttons clearfix">
                                            <button class="add-favorite product-button">До кошику</button>
                                            <button class="add-cart product-button">Розрахувати</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="header-middle-nav-enter">
                                    <a class="header-button-enter" href="#">
                                        <i class="fa fa-user"></i>
                                        Вхід
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>
    </div>
    <!-- END header-middle -->
</header>
