<div class="modal fade modal-choose-category modal-global" id="modal-choose-category" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Оберіть код товару згідно УКТ ЗЕД</h4>
            </div>
            <div class="modal-body">

                <form id="form-choose-category" class="form-global form-choose-category">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="modal-category-list">
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Промислові товари</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item active">
                                    <span class="modal-category-item-text">Сільськогосподарські товари</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Споживчі товари</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="modal-category-list">
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Готова (фасована) продукція</span>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Лісництво</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Продукти рослинництва для переробки</span>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">ПММ. Нафтопродукти і паливо для АПК</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Продукти тваринництва для переробки</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Рослинництво</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Риба, морепродукти</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item active">
                                    <span class="modal-category-item-text">Тваринництво</span>
                                    <i class="fa fa-caret-right"></i>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Техніка та обладнання для АПК</span>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Упаковка і тара</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="modal-category-list">
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Зоотовари та ветеринарія</span>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Корми для тварин</span>
                                </li>
                                <li class="modal-category-item">
                                    <span class="modal-category-item-text">Тварити</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-volume-and-frequency-bottom clearfix">
                                <button type="submit" class="btn btn-border pull-right">
                                    <i class="fa fa-save"></i>
                                    <span class="btn-border-text">Зберегти</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
