<div class="sidebar-position">
    <div class="col-sm-5 col-md-4 col-lg-3">
        <div class="profile-info-wrap sidebar-section">
            <div class="profile-info-img">
                <img class="profile-img" src="../images/profile-avatar.jpg" alt="">
            </div>
            <div class="profile-info">
                <div class="profile-info-name">
                    <div class="profile-info-name-text">Стельмах <br> Яків Миронович</div>
                    <span class="profile-online"></span>
                </div>
                <ul class="profile-info-list">
                    <li class="profile-info-item">
                        <i class="fa fa-star"></i>
                        <span class="profile-info-text">Рейтинг:</span>
                        <span class="profile-info-rate">4,8</span>
                        <span class="profile-info-number">(30 голосiв)</span>
                    </li>
                    <li class="profile-info-item">
                        <i class="fa fa-map-marker"></i>
                        <span class="profile-info-text">Івано-Франківськ</span>
                    </li>
                    <li class="profile-info-item">
                        <i class="fa fa-mobile"></i>
                        <span class="profile-info-text">
                            <a href="tel:+38 (099) 555 65 45" class="profile-info-link">+38 (099) 555 65 45</a>
                        </span>
                    </li>
                    <li class="profile-info-item">
                        <i class="fa fa-envelope-o"></i>
                        <span class="profile-info-text">
                            <a href="mailto:mail@gmail.com" class="profile-info-link">mail@gmail.com</a>
                        </span>
                    </li>
                    <li class="profile-info-item">
                        <i class="fa fa-calendar"></i>
                        <span class="profile-info-text">15.03.1961</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar-section sidebar-rating">
            <h3 class="sidebar-title">Зробити оцінку</h3>

            <div class="sidebar-rating-wrap">
                <ul class="rating-list clearfix">
                    <li class="rating-item rating-item-1">-5</li>
                    <li class="rating-item rating-item-2">-4</li>
                    <li class="rating-item rating-item-3">-3</li>
                    <li class="rating-item rating-item-4">-2</li>
                    <li class="rating-item rating-item-5">-1</li>
                    <li class="rating-item rating-item-6">0</li>
                    <li class="rating-item rating-item-7">1</li>
                    <li class="rating-item rating-item-8">2</li>
                    <li class="rating-item rating-item-9">3</li>
                    <li class="rating-item rating-item-10">4</li>
                    <li class="rating-item rating-item-11">5</li>
                </ul>
            </div>

            <div class="sidebar-comment clearfix">
                <div class="sidebar-comment-text">Написати коментар</div>
                <div class="sidebar-comment-icon">
                    <i class="fa fa-user-plus"></i>
                </div>
            </div>
        </div>

        <div class="sidebar-section sidebar-organization">
            <div class="sidebar-title-wrap">
                <h3 class="sidebar-title">мої організації</h3>
                <span class="sidebar-title-separator">&#8226;</span>
                <span class="sidebar-title-number">5</span>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="sidebar-section-images clearfix">
                <div class="sidebar-section-img-wrap">
                    <img src="../images/organization/organization-1.jpg" alt="" class="sidebar-section-img">
                    <div class="section-img-title-link-wrap">
                        <a href="#" class="section-img-title-link">
                            З лану до столу
                        </a>
                    </div>
                </div>
                <div class="sidebar-section-img-wrap">
                    <img src="../images/organization/organization-2.jpg" alt="" class="sidebar-section-img">
                    <div class="section-img-title-link-wrap">
                        <a href="#" class="section-img-title-link">
                            Як розпочати свій
                            власний проект
                        </a>
                    </div>
                </div>
                <div class="sidebar-section-img-wrap">
                    <img src="../images/organization/organization-3.jpg" alt="" class="sidebar-section-img">
                    <div class="section-img-title-link-wrap">
                        <a href="#" class="section-img-title-link">
                            Відбірна пшениця для
                            вашого врожаю
                        </a>
                    </div>
                </div>
                <div class="sidebar-section-img-wrap">
                    <img src="../images/organization/organization-4.jpg" alt="" class="sidebar-section-img">
                    <div class="section-img-title-link-wrap">
                        <a href="#" class="section-img-title-link">
                            Комбайни в оренду
                            від трьох днів
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-section sidebar-friends">
            <div class="sidebar-title-wrap">
                <h3 class="sidebar-title">Друзі</h3>
                <span class="sidebar-title-separator">&#8226;</span>
                <span class="sidebar-title-number">38</span>
                <i class="fa fa-caret-down"></i>
                <div class="sidebar-section-images clearfix">
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Марія
                                Стополя
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/friends/friend-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Іван
                                Загородній
                                <span class="friend-online"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-section sidebar-groups">
            <div class="sidebar-title-wrap">
                <h3 class="sidebar-title">групи</h3>
                <span class="sidebar-title-separator">&#8226;</span>
                <span class="sidebar-title-number">16</span>
                <i class="fa fa-caret-down"></i>
                <div class="sidebar-section-images clearfix">
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Комбайни
                                в оренду
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Гарний
                                врожай
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                З лану до
                                столу
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Користь в
                                зародку
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Комбайни
                                Claas
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Живопис в
                                буденності
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Смачна
                                випічка
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Друзі наші
                                менші
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-section-img-wrap-small">
                        <img src="../images/groups/group-1.jpg" alt="" class="sidebar-section-img-small">
                        <div class="section-img-title-link-wrap">
                            <a href="#" class="section-img-title-link">
                                Claas -
                                офіційний
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-section sidebar-calendar">
            <div class="full-calendar-modal"><div id="calendar" class="small-calendar"></div></div>
        </div>
    </div>
</div>
