<div class="col-sm-5 col-md-4 col-lg-3">
    <aside class="sidebar-main">
        <!-- START sidebar-filter -->
        <div class="sidebar-filter sidebar-section">
            <div class="filter-header">
                <span class="filter-title">ви обрали</span>
                <span class="filter-clear">очистити</span>
            </div>
            <div class="filter-body">
                <ul class="filter-list">
                    <li class="filter-list-item clearfix">
                        <span class="filter-item-name">
                            <i class="fa fa-tag"></i>
                            <span class="filter-item-text">Меблі</span>
                        </span>
                        <span class="filter-item-remove">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                    <li class="filter-list-item clearfix">
                        <span class="filter-item-name">
                            <i class="fa fa-tag"></i>
                            <span class="filter-item-text">Господарчі товари</span>
                        </span>
                        <span class="filter-item-remove">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                    <li class="filter-list-item clearfix">
                        <span class="filter-item-name">
                            <i class="fa fa-map-marker"></i>
                            <span class="filter-item-text">Івано-Франківськ</span>
                        </span>
                        <span class="filter-item-remove">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                    <li class="filter-list-item clearfix">
                        <span class="filter-item-name">
                            <i class="fa fa-money"></i>
                            <span class="filter-item-text">від 200 грн.</span>
                        </span>
                        <span class="filter-item-remove">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                    <li class="filter-list-item clearfix">
                        <span class="filter-item-name">
                            <i class="fa fa-calendar"></i>
                           <span class="filter-item-text">до 17 березня</span>
                        </span>
                        <span class="filter-item-remove">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
        <!-- END sidebar-filter -->

        <!-- START sidebar-category -->
        <div class="sidebar-category sidebar-section">
            <h3 class="sidebar-title">категорія</h3>
            <div class="panel-group">
                <h4 class="panel-title">
                    <a class="sidebar-category-title" data-toggle="collapse" href="#collapse1">Промислові товари</a>
                    <span class="caret"></span>
                </h4>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-1" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-1">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Будівництво</span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-2" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-2">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Товари для дому оптом</span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-3" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-3">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Авто-, мото-, спецтехніка</span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-4" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-4">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Техніка та електроніка </span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-5" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-5">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Мобільні телефони, смартфони</span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-6"
                               name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-6">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Тара і упаковка</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <h4 class="panel-title">
                    <a class="sidebar-category-title" data-toggle="collapse" href="#collapse2">Споживчі товари</a>
                    <span class="caret"></span>
                </h4>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-7" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-7">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Будівництво</span>
                        </label>
                    </div>
                    <div class="custom-checkbox _custom-checkbox">
                        <input type="checkbox" value="" id="custom-checkbox-cat-8" name=""/>
                        <label class="custom-checkbox-wrap" for="custom-checkbox-cat-8">
                            <span class="custom-checkbox-square"></span>
                            <span class="custom-checkbox-text">Товари для дому оптом</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- END sidebar-category -->

        <!-- START sidebar-region -->
        <div class="sidebar-region sidebar-section">
            <h3 class="sidebar-title">регіон</h3>

            <select class="category-select form-control _select">
                <option selected disabled>Оберіть місто</option>
                <optgroup label="Київська область">
                    <option value="">Київ</option>
                    <option value="">Біла Церква</option>
                </optgroup>
            </select>
        </div>
        <!-- END sidebar-region -->

        <!-- START sidebar-price -->
        <div class="sidebar-price sidebar-section clearfix">
            <h3 class="sidebar-title">ціна</h3>

            <div class="sidebar-inputs">
                <div class="sidebar-input-min sidebar-input">
                    <span class="input-icon-min">&#8372;</span>
                    <input type="number" class="input-min" placeholder="від">
                </div>
                <div class="sidebar-input-max sidebar-input">
                    <span class="input-icon-max">&#8372;</span>
                    <input type="number" class="input-max" placeholder="до">
                </div>
            </div>
        </div>
        <!-- END sidebar-price -->

        <!-- START sidebar-date -->
        <div class="sidebar-date sidebar-section">
            <h3 class="sidebar-title">дата</h3>
            <div class="sidebar-inputs" id="sandbox-container">
                <div class="input-daterange" id="datepicker">
                    <div class="sidebar-input-min sidebar-input">
                        <span class="input-icon-min">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="input-min" name="start" placeholder="від">
                    </div>
                    <div class="sidebar-input-max sidebar-input">
                        <span class="input-icon-max">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="input-max" name="end" placeholder="до">
                    </div>
                </div>
            </div>
        </div>
        <!-- END sidebar-date -->
    </aside>
</div>