html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.textLink, .newGoodsAll {
  color: #01b179;
}
.textLink:hover, .newGoodsAll:hover {
  color: #019868;
  text-decoration: underline;
}

.feedbackBtn, .contactFormSend, .filterResetBtn, .catalogProductToCartBtn, .productRightFormBtn, .footerSignUpBtn {
  color: #fff;
  background: #01b179;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.feedbackBtn:hover, .contactFormSend:hover, .filterResetBtn:hover, .catalogProductToCartBtn:hover, .productRightFormBtn:hover, .footerSignUpBtn:hover {
  color: #e9eaea;
  background: #019868;
  text-decoration: none;
}

.contactTitle, .catalogTitle, .productTitle {
  color: #01b179;
  font-size: 1.71429em;
  font-family: Roboto-mediun, sans-serif;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
/*----- Font -----*/
@font-face {
  font-family: "Roboto-regular";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?1432211338');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?&1432211338#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.woff?1432211338') format('woff'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1432211338') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg?1432211338') format('svg');
}
@font-face {
  font-family: "Roboto-thin";
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot?1432211336');
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot?&1432211336#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin-webfont.woff?1432211336') format('woff'), url('../fonts/roboto/Roboto-Thin-webfont.ttf?1432211336') format('truetype'), url('../fonts/roboto/Roboto-Thin-webfont.svg?1432211336') format('svg');
}
@font-face {
  font-family: "Roboto-mediun";
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?1432211338');
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?&1432211338#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium-webfont.woff?1432211338') format('woff'), url('../fonts/roboto/Roboto-Medium-webfont.ttf?1432211338') format('truetype'), url('../fonts/roboto/Roboto-Medium-webfont.svg?1432211338') format('svg');
}
@font-face {
  font-family: "Roboto-bold";
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?1432211338');
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?&1432211338#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff?1432211338') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf?1432211338') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg?1432211338') format('svg');
}
@font-face {
  font-family: 'Font-icon';
  src: url("../fonts/font-icons/Font-icon.eot?2ox34p");
  src: url("../fonts/font-icons/Font-icon.eot?#iefix2ox34p") format("embedded-opentype"), url("../fonts/font-icons/Font-icon.woff?2ox34p") format("woff"), url("../fonts/font-icons/Font-icon.ttf?2ox34p") format("truetype"), url("../fonts/font-icons/Font-icon.svg?2ox34p#Font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Font-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vkontakte:before {
  content: "\e600";
}

.icon-down:before {
  content: "\e601";
}

.icon-up:before {
  content: "\e602";
}

.icon-next:before {
  content: "\e605";
}

.icon-cart:before {
  content: "\e606";
}

.icon-phone:before {
  content: "\e608";
}

.icon-odnoklassniki:before {
  content: "\e609";
}

.icon-facebook:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e607";
}

.icon-menu:before {
  content: "\e60e";
}

/*----- Global -----*/
body {
  color: #505d65;
  font-family: Roboto-regular, sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #505d65;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #505d65;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #505d65;
}

:-ms-input-placeholder {
  color: #505d65;
}

.collageImg {
  width: 100%;
  margin-bottom: 1.42857em;
}

.advantages {
  text-align: center;
  margin-bottom: 3.57143em;
  overflow: hidden;
}

.advantageLink {
  display: block;
  border: 2px solid #838383;
  max-width: 360px;
  margin: 0 auto 1.07143em;
}
.advantageLink:hover {
  border-color: #01b179;
}

.advantageImg {
  width: 100%;
}

.blockPageReview {
  padding: 3.57143em 0;
  border-top: 1px solid #838383;
}

.pageReviewTitle {
  text-transform: uppercase;
  margin-bottom: 2.5em;
}

.pageReviewText {
  margin-bottom: 2.5em;
  text-align: justify;
}
.pageReviewText:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .advantageLink {
    margin-bottom: 0;
  }
}
/*----- Header -----*/
.mainHeader {
  margin-bottom: 1.78571em;
}

.headerContact {
  margin: 0.71429em 0;
  overflow: hidden;
}

.headerPhones {
  display: inline-block;
}
.headerPhones span {
  color: #01b179;
  display: none;
}

.phoneOne {
  color: #fff;
  font-size: 0.71429em;
  display: block;
  margin-bottom: 0.64286em;
}
.phoneOne:last-child {
  margin-bottom: 0;
}
.phoneOne:hover {
  text-decoration: none;
}

.feedback {
  display: inline-block;
  vertical-align: top;
  margin: 0.28571em 0 0 0.35714em;
}

.feedbackBtn {
  padding: 0.5em;
  display: inline-block;
  font-size: 0.71429em;
  line-height: 0.92857em;
}

.topHeader {
  background: #505d65;
  overflow: hidden;
  position: relative;
}

.headerMobileBtn {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1;
}

.mobileBtn {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 1.42857em;
  border-right: 2px dotted #fff;
  height: 35px;
  width: 43px;
  cursor: pointer;
}
.mobileBtn span {
  display: inline-block;
  margin-top: 5px;
}
.mobileBtn:first-child {
  border-left: 2px dotted #fff;
  margin-right: -4px;
}
.mobileBtn:first-child span {
  margin-left: 3px;
}
.mobileBtn.mobileMenuBtn span {
  padding-left: 7px;
}

.headerSearchWrap {
  margin: 0.71429em 0;
}

.search {
  width: 290px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  margin: 0 auto;
}

.searchInput {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 0 0 8px;
  border: none;
  -webkit-appearance: none;
  width: 220px;
  vertical-align: middle;
  line-height: 1.28571em;
  padding: 0.71429em 1.07143em;
  font-family: Roboto-thin, sans-serif;
  font-size: 0.85714em;
}

.searchBtn {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0;
  border-radius: 0 8px 8px 0;
  width: 35px;
  height: 41px;
  border: none;
  background: none;
  line-height: 1.42857em;
  color: #01b179;
}

.middleHeader {
  border-bottom: 1px solid #01b179;
}

.headerLogo {
  margin-top: 0.5em;
  text-align: left;
}

.headerLogoLink {
  display: inline-block;
}
.headerLogoLink img {
  width: 100%;
  max-width: 100px;
}
.headerLogoLink:hover {
  text-decoration: none;
}

.headerLogoLinkText {
  color: #505d65;
  font-size: 0.85714em;
}

.headerCart {
  font-size: 3.21429em;
  color: #01b179;
  text-align: right;
  position: relative;
}

.headerCartNumber {
  position: absolute;
  top: 25px;
  right: 21px;
  font-size: 0.28571em;
  color: #fff;
}

.bottomHeader {
  position: relative;
}

.mainMenu {
  display: none;
}

.menuItemLink {
  display: block;
  text-align: center;
  font-family: Roboto-mediun, sans-serif;
  padding: 1.07143em 0;
  color: #505d65;
  border-bottom: 1px solid #505d65;
}
.menuItemLink:hover {
  text-decoration: none;
  color: #01b179;
}

@media (min-width: 768px) {
  .mainHeader {
    margin-bottom: 0;
  }

  .headerMobileBtn {
    display: none;
  }

  .headerPhones {
    float: left;
    margin-top: 0.71429em;
  }

  .feedback {
    float: right;
    margin: 0;
  }

  .feedbackBtn {
    font-size: 1.28571em;
  }

  .headerPhones span {
    display: inline-block;
  }

  .phoneOne {
    font-size: 1em;
    display: inline-block;
    margin-left: 0.35714em;
  }

  .headerSearchWrap {
    float: left;
  }

  .buyUkrainian {
    float: right;
    margin-top: 0.92857em;
  }

  .middleHeader {
    padding: 1.42857em;
    border: none;
  }

  .headerLogo {
    margin-top: 0;
  }

  .headerLogoLink img {
    max-width: 200px;
    margin-bottom: 0.71429em;
  }

  .headerLogoLinkText {
    font-size: 1.14286em;
  }

  .headerCart {
    font-size: 4.28571em;
    margin-top: 0.14286em;
  }

  .headerCartNumber {
    top: 34px;
    right: 29px;
  }

  .bottomHeader {
    border-top: 1px solid #01b179;
    border-bottom: 1px solid #01b179;
  }

  .mainMenu {
    display: table;
    width: 100%;
  }

  .menuList {
    display: table-row;
  }

  .menuItem {
    display: table-cell;
    float: none;
    text-align: center;
  }

  .menuItemLink {
    display: block;
    border: none;
  }
  .menuItemLink:hover {
    text-decoration: none;
    color: #01b179;
  }

  .selected .menuItemLink {
    color: #01b179;
  }
}
@media (min-width: 992px) {
  .headerLogo {
    text-align: center;
  }

  .headerSearchWrap {
    margin-left: 50px;
  }

  .headerLogoLink img {
    max-width: 270px;
  }

  .headerLogoLinkText {
    font-size: 1.28571em;
  }

  .menuItemLink {
    font-size: 1.28571em;
  }

  .headerCart {
    margin-top: 0.28571em;
  }
}
@media (min-width: 1200px) {
  .menuItemLink {
    font-size: 1.42857em;
  }
}
/*----- Bread Crumbs -----*/
.mainBreadCrumbs {
  background: #505d65;
  margin-bottom: 3.57143em;
}

.breadCrumbsList {
  margin: 0 15px;
}

.breadCrumbsItem {
  display: inline-block;
  color: #fff;
  padding: 0.35714em 0;
}
.breadCrumbsItem:after {
  content: '/';
}
.breadCrumbsItem:last-child:after {
  content: '';
}

.breadCrumbsLink,
.breadCrumbsText {
  font-size: 0.85714em;
  color: #fff;
}

/*----- Contact -----*/
.mainContact {
  margin-bottom: 3.57143em;
}

.contactWrap {
  margin-bottom: 1.78571em;
}

.contactTitle {
  margin-bottom: 1.42857em;
}

.contactInfoPhones,
.contactInfoMails {
  margin-bottom: 1.78571em;
}

.contactInfoPhone {
  color: #505d65;
  font-size: 1.42857em;
  display: block;
  margin-bottom: 0.35714em;
}
.contactInfoPhone:hover {
  text-decoration: none;
}

.scheduleMain div {
  margin-bottom: 0.35714em;
}

.contactInfoMail {
  color: #01b179;
  font-size: 1.14286em;
}
.contactInfoMail:hover {
  text-decoration: none;
}

.scheduleTitle {
  color: #a2aaaf;
  font-size: 1.14286em;
  margin-bottom: 0.35714em;
}

.contactFormInput,
.contactFormText {
  display: block;
  width: 100%;
  border: 1px solid #505d65;
  margin-bottom: 1.07143em;
  vertical-align: middle;
  font-size: 0.85714em;
  line-height: 1.28571em;
  padding: 0.78571em 1.14286em;
}

.contactFormText {
  height: 140px;
  resize: vertical;
}

.contactFormInput::-webkit-input-placeholder,
.contactFormText::-webkit-input-placeholder {
  color: #a2aaaf;
}

.contactFormInput:-moz-placeholder,
.contactFormText::-moz-placeholder {
  /* Firefox 18- */
  color: #a2aaaf;
}

.contactFormInput::-moz-placeholder,
.contactFormText::-moz-placeholder {
  /* Firefox 19+ */
  color: #a2aaaf;
}

.contactFormInput:-ms-input-placeholder,
.contactFormText:-ms-input-placeholder {
  color: #a2aaaf;
}

#contactFormCopy {
  display: none;
}

label[for='contactFormCopy'] {
  vertical-align: top;
}

.contactFormCopyWrap {
  margin: 0 0 10px 30px;
}

.contactFormCopy {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-style: solid none none solid;
  border-color: #838383;
  border-width: 1px;
  background: #e9eaea;
  margin: 0 10px 5px -30px;
}

#contactFormCopy:checked + label > .contactFormCopy {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #01ca8a;
  border-radius: 15px;
}

.contactFormSend {
  border: none;
  width: 100%;
  border-radius: 0;
  font-size: 1.71429em;
  padding: 0.35714em 0;
}

@media (min-width: 768px) {
  .contactWrap {
    margin-bottom: 0;
  }
}
/*----- Catalog -----*/
.mainCatalog {
  margin-bottom: 3.57143em;
}

.catalogTitle {
  margin: 0 0.625em 0.83333em;
}

.catalogFilters {
  margin-bottom: 2.5em;
}

.filterTittleWrap {
  overflow: hidden;
  margin-bottom: 0.71429em;
}
.filterTittleWrap span[class^="icon"] {
  float: right;
}

.filterTittle {
  float: left;
  font-size: 1.28571em;
}

.filterWrap {
  padding: 1.14286em 0.85714em;
  background: #e9eaea;
  margin-bottom: 1.42857em;
}

.filterSizeList {
  text-align: center;
  overflow: hidden;
}

.filterSizesList {
  overflow: hidden;
}

.filterSizeItem {
  display: inline-block;
  margin: 0 3px 7px 0;
}

.filterSizesItem {
  display: inline-block;
  margin: 0 2px 5px 0;
}

.formFilterSize input[type="checkbox"],
.formFilterSizes input[type="checkbox"] {
  display: none;
}
.formFilterSize input[type="checkbox"]:checked + .filterSize, .formFilterSize input[type="checkbox"]:checked + .filterSizes,
.formFilterSizes input[type="checkbox"]:checked + .filterSize,
.formFilterSizes input[type="checkbox"]:checked + .filterSizes {
  background: #01b179;
}

.filterSize, .filterSizes {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #505d65;
  color: #fff;
  display: block;
  font-size: 1.28571em;
}
.filterSize:hover, .filterSizes:hover {
  background: #72848f;
}

.filterSizes {
  width: 65px;
  height: 40px;
}

.filterGroup {
  margin-bottom: 1.78571em;
}

.filterAgeGroupItem,
.filterSeasonItem {
  margin-bottom: 1em;
}
.filterAgeGroupItem input[type="checkbox"],
.filterSeasonItem input[type="checkbox"] {
  display: none;
}

.ageGroupPseudoCheckbox,
.seasonGroupPseudoCheckbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-style: solid none none solid;
  border-color: #838383;
  border-width: 1px;
  background: #fff;
  margin-right: 10px;
}

.filterAgeGroupItem input[type="checkbox"]:checked + .filterAgeLabel > .ageGroupPseudoCheckbox,
.filterSeasonItem input[type="checkbox"]:checked + .seasonLabel > .seasonGroupPseudoCheckbox {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #01ca8a;
  border-radius: 15px;
}

.filterAgeLabel {
  vertical-align: top;
}

.filterResetBtn {
  border: none;
  width: 100%;
  border-radius: 0;
  font-size: 1.71429em;
  padding: 0.35714em 0;
}

.catalogProductsSort {
  margin-bottom: 1.42857em;
}

.catalogSortText {
  display: inline-block;
  vertical-align: top;
  font-size: 1.28571em;
  line-height: 1.85714em;
  margin-right: 0.76923em;
}

.catalogSort {
  display: inline-block;
  border: 1px solid #838383;
  padding-right: 0.71429em;
}
.catalogSort span[class^="icon"] {
  color: #01b179;
  vertical-align: middle;
}

.catalogSortList {
  display: inline-block;
}

.catalogSortItem {
  padding: 0.71429em 4.28571em 0.71429em 0.71429em;
}

.catalogProductToCartBtn {
  border-radius: 0;
  width: 135px;
  font-size: 1.28571em;
  padding: 0.55556em;
  margin: 0 auto;
  display: block;
}

.catalogProductWrap {
  margin-bottom: 1.42857em;
}

@media (min-width: 768px) {
  .catalogFilters {
    margin-bottom: 0;
  }

  .filterSizeList {
    text-align: left;
  }

  .filterSizeItem:nth-child(4n) {
    margin-right: 0;
  }

  .filterSizesItem {
    margin: 0 -2px 2px 0;
  }
  .filterSizesItem:nth-child(3n) {
    margin-right: 0;
  }

  .filterSizes {
    width: 59px;
  }

  .catalogProductWrap {
    margin-bottom: 2.85714em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .filterSizeItem {
    margin: 0 1px 5px 0;
  }

  .filterSizes {
    width: 57px;
  }
}
@media (min-width: 992px) {
  .catalogProductToCartBtn {
    display: none;
  }

  .catalogProductWrap:hover {
    -moz-box-shadow: #01b179 0 0 10px;
    -webkit-box-shadow: #01b179 0 0 10px;
    box-shadow: #01b179 0 0 10px;
    padding: 1.07143em;
    border: 1px solid #01b179;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 270px;
  }
  .catalogProductWrap:hover .catalogProductToCartBtn {
    display: block;
  }
  .catalogProductWrap:hover .catalogProductPrice {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .filterSizeItem {
    margin: 0 18px 20px 0;
  }

  .filterSizeItem:nth-child(4n) {
    margin-right: 0px;
  }

  .filterSizesItem {
    margin: 0 21px 20px 0;
  }

  .catalogProductWrap:hover {
    width: 300px;
  }
}
/*----- Product single -----*/
.blockProduct {
  margin-bottom: 1.78571em;
}

.productTitle {
  margin-bottom: 0.71429em;
}

.previewPictureBig {
  border: 1px solid #e9eaea;
  margin-bottom: 0.71429em;
  text-align: center;
}
.previewPictureBig img {
  width: 100%;
  max-width: 460px;
}

.previewPicturesSmall {
  text-align: center;
}
.previewPicturesSmall img {
  border: 1px solid #e9eaea;
  margin-right: 0.71429em;
  width: 100%;
  max-width: 110px;
}
.previewPicturesSmall img:last-child {
  margin-right: 0;
}

.productRightFormTop,
.productRightFormBottom {
  margin-bottom: 2.14286em;
}

.rightFormSizes {
  margin-bottom: 0.71429em;
}

.productRightTitle {
  font-size: 1.71429em;
  margin-bottom: 0.71429em;
}

.rightFormSizesItem {
  display: inline-block;
  text-align: center;
  margin: 0 0.5em 0.5em 0;
}
.rightFormSizesItem:last-child {
  margin-right: 0;
}

.rightFormSizesItem input[type='checkbox'] {
  display: none;
}

.rightFormSize {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.rightFormSizePseudoCheckbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #a2aaaf;
  box-sizing: border-box;
}

.rightFormSizesItem input[type='checkbox']:checked + label > .rightFormSizePseudoCheckbox {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #01ca8a;
  border-radius: 15px;
}

.rightFormPrise {
  font-size: 1.71429em;
  font-family: Roboto-bold, sans-serif;
  color: #01b179;
  margin-bottom: 0.21429em;
}

.rightFormPriseReview {
  font-size: 1em;
  color: #838383;
}

.rightFormBottomPrise {
  margin-bottom: 2.5em;
}

.productRightFormAmount {
  margin-bottom: 1.07143em;
}

.productAmount {
  margin-bottom: 0.5em;
  display: inline-block;
}

.productAmountNumber {
  color: #838383;
}

#productAmount {
  display: block;
  max-width: 60px;
  border: 2px solid #e9eaea;
  padding: 0.14286em 0 0.14286em 0.35714em;
}

.productRightFormBtn {
  border: none;
  text-transform: uppercase;
  font-size: 2.14286em;
  font-family: Roboto-bold, sans-serif;
  padding: 0.5em 1.42857em;
  border-radius: 0;
  display: inline-block;
}

.formProductPropertiesItem {
  overflow: hidden;
  border-bottom: 1px solid #e9eaea;
  padding: 0.5em 0;
}
.formProductPropertiesItem:last-child {
  border-bottom: none;
}

.formProductPropertiesKey,
.formProductPropertiesValue {
  display: block;
  width: 50%;
  float: left;
  font-size: 1.28571em;
}

.formProductPropertiesKey {
  font-family: Roboto-thin, sans-serif;
}

@media (max-width: 768px) {
  .formProductPropertiesKey,
  .formProductPropertiesValue {
    font-size: 1em;
  }

  .productRightFormBtn {
    font-size: 1.42857em;
  }

  .productLeft {
    margin-bottom: 1.42857em;
  }
}
@media (min-width: 768px) {
  .previewPicturesSmall {
    text-align: left;
  }
  .previewPicturesSmall img {
    max-width: 110px;
  }
}
@media (min-width: 992px) {
  .previewPicturesSmall img {
    max-width: 140px;
  }
}
/*----- New Goods and You Saw -----*/
.newGoodsTop {
  background: #505d65;
  overflow: hidden;
  margin-bottom: 1.78571em;
  padding: 0 10px;
}

.newGoodsTitle {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.78571em;
  float: left;
  font-weight: 400;
  line-height: 1.42857em;
}

.youSawTop {
  margin-bottom: 1.78571em;
}

.youSawTitleTop {
  text-transform: uppercase;
  font-size: 1.78571em;
}

.newGoodsAll {
  float: right;
  line-height: 2.5em;
}

.newGood,
.youSaw,
.catalogProduct {
  text-align: center;
}

.blockNewGoodImg,
.blockYouSawImg,
.blockCatalogProductImg {
  border: 1px solid #e9eaea;
  overflow: hidden;
  margin-bottom: 1.07143em;
  display: block;
}
.blockNewGoodImg:hover,
.blockYouSawImg:hover,
.blockCatalogProductImg:hover {
  border-color: #838383;
}

.newGoodImg,
.youSawImg,
.catalogProductImg {
  max-width: 220px;
}

.newGoodTitle,
.youSawTitle,
.catalogProductTitle {
  font-size: 1.28571em;
  font-weight: 400;
  color: #505d65;
  margin-bottom: 0.35714em;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.newGoodCod,
.youSawCod,
.catalogProductCod {
  color: #838383;
  font-size: 1em;
  margin-bottom: 1.07143em;
}

.newGoodPrice,
.youSawPrice,
.catalogProductPrice {
  font-family: Roboto-bold, sans-serif;
  font-size: 1.28571em;
  color: #01b179;
  margin-bottom: 1.07143em;
}

/*----- Footer -----*/
.mainFooter {
  background: #505d65;
  min-height: 11.42857em;
  overflow: hidden;
}

.footer {
  margin: 1.64286em 0;
  position: relative;
}

.copyRight {
  color: #fff;
  position: absolute;
  top: 3.57143em;
}

.footerSocialTitle,
.footerSignUpTitle {
  color: #01b179;
  margin-bottom: 1.28571em;
  text-transform: uppercase;
}

.footerSocialItem {
  display: inline-block;
  margin-right: 0.71429em;
}

.footerSocialLink {
  -moz-border-radius: 1.92857em;
  -webkit-border-radius: 1.92857em;
  border-radius: 1.92857em;
  text-decoration: none;
  width: 1.92857em;
  height: 1.92857em;
  background: #fff;
  display: block;
  text-align: center;
  line-height: 2.14286em;
  font-size: 1.78571em;
  color: #505d65;
}
.footerSocialLink:hover {
  background: #01ca8a;
  text-decoration: none;
}

.footerSignUpInput {
  border: none;
  padding: 0.71429em 1.07143em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 0.85714em;
  line-height: 1.28571em;
  width: 21.42857em;
  margin-bottom: 1.57143em;
  font-family: Roboto-thin, sans-serif;
}

.footerSignUpBtn {
  border: none;
  padding: 0.85714em 0.92857em;
  font-size: 0.92857em;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .copyRight {
    position: initial;
  }

  .footerLogo,
  .footerSocial,
  .footerSignUp {
    margin-bottom: 2.14286em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footerSignUp {
    margin-top: 2.14286em;
  }
}

/*# sourceMappingURL=main.css.map */
