/*------------------ Bread crumbs ------------------*/

.wrapBreadcrumb{
  .breadcrumb{
    background: none;
    font-size: em(14px, 16px);
    padding-left: 0!important;
  }

  .breadcrumbItem{
    color: $gray1;
    &:before{
      color: $gray1;
    }
  }

  .breadcrumbLink{
    color: $gray1;
    &:hover{
      text-decoration: underline;
    }
  }
}