/*------------------ Catalog ------------------*/


/*------------------ Catalog-left ------------------*/
.wrapCatalog{
  .wrapTitleDecor{
    text-align: left;
    margin-bottom: em(15px, 16px);
  }
}

.titleDecor{
  &.catalogTitle{
    padding-left: 0;
    text-transform: uppercase;
    color: $purple1;
    font-family: $RobotoRegular;
  }
}

.catalogTitleNumber{
  font-family: $RobotoThin;
  color: $gray6;
}

.catalogLeft{
  background: $pink5;
  padding: em(15px, 16px);
  margin-bottom: em(20px, 16px);
}

.catalogLeftTitle{
  color: $primeColor;
  font-size: em(24px, 16px);
  padding-bottom: em(10px, 24px);
  border-bottom: 2px solid $white;
  text-align: center;
  margin-bottom: em(25px, 24px);
}

.filterGroup{
  margin-bottom: em(25px, 16px);
}

.filterSize{
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 235px;
    @media (min-width: 992px) and (max-width: 1200px){
      width: 265px;
    }

    @media (min-width: 768px) and (max-width: 992px){
      width: 190px;
    }
  }

  .filterMulti {

    .filter-option {
      font-size: em(16px, 16px);
      color: $gray1;
    }
  }
}

.filterGroupTitle{
  color: $gray2;
  margin-bottom: em(20px, 18px);
  font-size: em(18px, 16px);
}

.filterItem{
  font-size: em(14px, 16px);
  margin-bottom: em(15px, 14px);
  input[type="checkbox"]{
    display: none;
  }
}

.itemPseudoCheckbox{
  display: inline-block;
  width: 17px;
  height: 17px;
  border-style: solid none none solid;
  border-color: $gray4;
  border-width: 1px;
  background: $white;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.filterItem input[type='checkbox']:checked + label > .itemPseudoCheckbox{
  background: $purple1;
}

.itemSizeLabel{
  color: $gray2;
}

.filterItemColor{
  display: inline-block;
  margin-right: em(15px, 16px);
}

.itemColorPseudoCheckbox{
  width: 34px;
  height: 34px;
  border-radius: 34px;
}

.filterItem input[type='checkbox']:checked + label > .itemColorPseudoCheckbox{
  border-top: 3px inset #D38CF7;
  border-right: 3px inset $purple1;
  border-bottom: 3px inset $purple1;
  border-left: 3px inset #D38CF7;
}

.filterPriceSlider{
  margin-bottom: em(15px, 16px);
}

.uislide{
  position:relative;
  height:6px;
  border:1px solid #dbdbdb;
  border-radius:3px;
}

.uislide.price-slide{
  width: 95%;
  margin: 0 auto;
  background: $green1;
}

.uislide .ui-slider-range{
  position:absolute;
  height:6px;
  margin-top:-2px;
  background: $gray3;
  border-radius:4px;
}
.uislide .ui-slider-handle:after{
  content:'';
  position:absolute;
  display:block;
  width:14px;
  height:14px;
  border-radius: 7px;
  margin-top:-6px;
  margin-left:-8px;
  background: $primeColor;
  &:hover{
    background: darken($primeColor, 10%);
  }
}
.uislide .ui-slider-handle{
  position:absolute;
  width:1px;height:1px;display:block;
}
.uislide .ui-slider-handle:active{
  cursor:none;
}

.filterPriceInputs{
  text-align: center;
}

.priceInput{
  width: 30%;
  outline: none;
  padding: em(5px, 14px) em(10px, 14px);
  font-size: em(14px, 16px);
  border-style: solid none none solid;
  border-color: $gray4;
  &:focus{
    border-color: darken($gray4, 10%);
  }
  &:first-child{
    margin-right: em(20px, 14px);
  }
  &:last-child{
    margin-left: em(20px, 14px);
  }
}

.moreAndLess{
  color: $primeColor;
  font-size: em(14px, 16px);
  .less{
    display: none;
  }
  &.showMore{
    .more{
      display: none;
    }
    .less{
      display: block;
    }
  }
}

.moreLess{
  cursor: pointer;
  [class^="icon-"]{
    position: relative;
    left: em(5px, 16px);
    top: em(3px, 16px);
  }
}

.filterButton{
  @extend %btnFull;
  border: none;
  width: 49%;
  font-size: em(18px, 16px);
  padding: em(10px, 18px) 0;
}

.filterButtonShow{
  margin-right: 2%;
}

.filterButtonReset{
  margin-right: -4px;
  background: $pink1;
  &:hover{
    background: darken($pink1, 10%);
  }
}

.catalogLeftBanner{
  margin-bottom: em(20px, 16px);
}

/*------------------ Catalog-right ------------------*/

.rightTopFilterManufacturer{
  padding-bottom: em(25px, 16px);
  border-bottom: 2px solid $primeColor;
  margin-bottom: em(15px, 16px);
}

.filterManufacturerItem{
  display: inline-block;
  margin: 0 0 em(3px, 16px) 0;
  input[type="checkbox"]{
    display: none;
  }
}

.filterManufacturerItem input[type='checkbox']:checked + .filterManufacturerLabel{
  background: $purple1;
  color: $white;
  .filterManufacturerCountry{
    color: $white;
  }
}

.filterManufacturerLabel{
  font-size: em(14px, 16px);
  padding: em(3px, 14px);
  display: inline-block;
  &:hover{
    background: lighten($purple1, 15%);
    color: $white;
    .filterManufacturerCountry{
      color: $white;
    }
  }
}

.filterManufacturerCountry{
  color: $gray4;
}

.rightTopFilterMulti{
  margin-bottom: em(10px, 16px);
}

.wrapFilterMulti{
  display: inline-block;
}

.filterMulti{
  display: inline-block;

  .btn{
    border-radius: 0;
    padding: 4px 5px 4px 8px;
    border-color: $gray3;
  }

  .filter-option{
    font-size: em(14px, 16px);
    color: $primeColor;
  }

  .caret {
    margin-top: -5px!important;
    border-top: 10px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    right: 8px!important;
  }

  .selectpicker{
    outline: none;
  }

  .bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
  }

  &.filterQuantity{
    .bootstrap-select{
      max-width: 70px;
    }
  }

  &.filterSorting{
    @media (max-width: 768px) {
      .bootstrap-select{
        max-width: 190px;
      }
    }
  }
}

.filterMultiText{
  display: inline-block;
  font-size: em(14px, 16px);
  margin-right: em(5px, 14px);
  margin-bottom: em(5px, 14px);
  color: $gray3;
}

.catalogRightSwitch{
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.catalogSwitch{
  display: inline-block;
  cursor: pointer;
  [class^="icon-"]{
    font-size: em(40px, 16px);
  }
  :hover{
    color: darken($primeColor, 10%);
  }
}

.catalogRightSwitch{
  display: none;
  .catalogSwitchGrid{
    color: $gray3;
  }
  .catalogSwitchList{
    color: $primeColor;
  }
  &.listItem{
    .catalogSwitchGrid{
      color: $primeColor;
    }
    .catalogSwitchList{
      color: $gray3;
    }
  }
  @media (min-width: 1200px) {
    display: inline-block;
  }
}

/*------------------ Catalog-right content ------------------*/

#products{
  position: relative;
}

.wrapCatalogRight{
  @media (min-width: 768px) and (max-width: 992px) {
    .col-sm-8 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.productInfoCartBtn,
.catalogProductCartBtn{
  width: 110px;
  border: 2px solid $green2;
  font-size: em(16px, 16px);
  padding: em(8px, 16px) em(15px, 16px);
  @extend %btnFull;
  &:hover{
    background: $white;
    color: $green2;
  }
}

.catalogProduct {
  .catalogProductCartBtn {
    background: $white;
    color: $green2;
    margin: 0 auto;
    display: none;
    &:hover {
      background: $green2;
      color: $white;
    }
  }
}

.catalogProductCartBtn{
  background: $white;
  color: $green2;
  margin: 0 auto;
  display: block;
  &:hover{
    background: $green2;
    color: $white;
  }
}

.productInfoBtn{
  max-width: 80px;
  border: 2px solid $primeColor;
  font-size: em(12px, 16px);
  background: $primeColor;
  padding: em(4px, 12px);
  @extend %btnFull;
  cursor: pointer;
  &:hover{
    background: $white;
    color: $primeColor;
  }
}

.item{
  margin-bottom: em(20px, 15px);
}

.catalogProductImageLink{
  position: relative;
  display: block;

  .fastView{
    position: absolute;
    color: $white;
    font-size: em(18px, 16px);
    background: rgba(182, 36, 142, 0.5);
    padding: em(5px, 18px) em(15px, 18px);
    top: 40%;
    display: none;
    text-align: center;
    width: 100%;

    @media (max-width: 1200px) {
      font-size: em(16px, 16px);
    }

    @media (max-width: 992px) {
      width: em(160px, 16px);
    }
  }
  &:hover{
    .fastView{
      display: block;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.catalogProductTitleLink{
  $font-size: 16px;
  $line-height: 1;
  $lines-to-show: 3;

  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  color: $gray1;
  display: inline-block;
  margin-bottom: em(15px, 16px);
  &:hover{
    color: $gray1;
    text-decoration: underline;
  }
}

.catalogProductArticle,
.catalogProductMaterial{
  font-size: em(14px, 16px);
  color: $gray4;
  margin-bottom: em(15px, 14px);
}

.catalogProductMaterialType{
  color: $gray1;
}

.catalogProductManufacturer{
  margin-bottom: em(15px, 16px);
}

.productInfoTable{
  display: table;
  width: 100%;
  border-spacing: 0 em(5px, 16px);
  margin-bottom: em(15px, 16px);
}

.productInfoRow{
  display: table-row;
  color: $gray1;
  &:hover{
    background: $gray5;
    color: $gray1;
    .productInfoCell1{
      [class^="icon-"]{
        opacity: 1;
      }
    }
  }
}

.productInfoCell{
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  &:last-child{
    padding-right: 0;
  }
}

.productInfoAvailabilityYes{
  color: $green1;
}

.productInfoAvailabilityNo{
  color: $gray3;
}

.productInfoPrice{
  color: $purple1;
}

.productInfoCell1{
  text-align: left;
  [class^="icon-"]{
    font-size: em(32px, 16px);
    color: $purple1;
    opacity: .5;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.productInfoInCell {
  line-height: 1.2em;
}

.productInfoCell2{
  font-size: em(12px, 16px);
}

.productInfoArticle{
  color: $gray3;
}

.productInfoCell3{
  font-size: em(14px, 16px);
}

.productInfoCell4{
  text-align: right;
  display: none;
}

.item.list-group-item {
  float: none;
  width: 100%;
  border: none;
  margin-bottom: 0;

  .catalogProduct{
    padding: 10px;
    border-radius: 0;
    border: 1px solid $primeColor;
    overflow: hidden;
  }

  .wrapCatalogProductImage{
    width: 23%;
    display: inline-block;
    margin-right: 2%;
  }

  .catalogProductInfo{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
  }

  .catalogProductCartBtn,
  .catalogProductPrice{
    display: none;
  }

  .productInfoCell4{
    display: table-cell;
  }

  .catalogProductInfoGridShow{
    display: block;
  }
  .productInfoTable{
    display: table;
    margin-bottom: 0;
  }

  .productInfoCell1{
    width: 9%;
  }

  .productInfoCell2{
    width: 33%;
    min-width: 90px;
  }

  .productInfoCell3{
    width: 28%;
  }

  .productInfoCell4{
    width: 30%;
  }

  .catalogProduct{
    &:hover {
      position: relative;

      .catalogProductCartBtn{
        display: none;
      }
    }
  }

  &.col-lg-4{
    height: 100%;
  }
}

.catalogProductPrice{
  color: $purple1;
  font-size: em(18px, 16px);
  text-align: center;
  margin-bottom: em(15px, 18px);
  display: none;
}

.catalogContentProduct{
  background-color:green;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img{
  float:left;
  @media (max-width: 992px){
    float: none;
  }
}

.item.list-group-item:after
{
  clear:both;
}

.catalogProductSale{
  position: relative;
  &:before{
    content: '';
    background: url("../image/decor/percent.png");
    width: 36px;
    height: 37px;
    position: absolute;
    z-index: 99;
    right: -10px;
    top: -10px;
  }
  @media (max-width: 768px) {
    &:before{
      right: 0;
    }
  }
}

.catalogProductNew{
  position: relative;
  &:after{
    content: '';
    background: url("../image/decor/newRibbon.png");
    width: 89px;
    height: 21px;
    position: absolute;
    z-index: 99;
    left: -5px;
    top: 0;
  }
  @media (max-width: 768px) {
    &:after{
      left: 5px;
    }
  }
}

@media (min-width: 768px) {

  .item{
    &.col-lg-4{
      height: 333px;
    }
  }

  .catalogProduct {
    border: 1px solid $white;
    padding: em(10px, 16px);
    background: $white;
    &:hover {
      position: absolute;
      z-index: 100;
      border: 1px solid $primeColor;
      box-sizing: border-box;

      .catalogProductInfoGridShow {
        display: block;
      }

      .productInfoTable {
        display: table;
      }

      .catalogProductPrice {
        display: none;
      }

      .catalogProductCartBtn {
        display: block;
      }
    }
  }

  .catalogProductInfoGridShow,
  .productInfoTable{
    display: none;
  }

  .catalogProductPrice{
    display: block;
  }

  .filterMulti {
    margin-top: em(4px, 16px);
  }
}

@media (max-width: 992px) {
  .item.list-group-item {

    .wrapCatalogProductImage{
      width: 220px;
      display: block;
      margin: 0 auto em(15px, 16px);
    }

    .catalogProductInfo{
      width: 100%;
      display: block;
    }
  }
  
  .productInfoCartBtn{
    font-size: em(14px, 16px);
  }

  .filterMulti {
    margin-bottom: em(10px, 16px);
  }
}

@media (max-width: 768px) {
  .item {
    .catalogProductInfoGridShow{
      display: block!important;
    }

    .productInfoTable {
      display: table!important;
    }

    .catalogProductPrice {
      display: none;
    }

    &:hover {
      border: none;
    }
  }
  
  .catalogProduct{
    border-bottom: 2px solid $primeColor;
  }

  .catalogProductImageLink{
    max-width: 200px;
    margin: 0 auto em(15px, 16px);
  }

  .catalogProductCartBtn{
    display: none;
  }

  .productInfoCell4{
    display: table-cell;
  }

  .catalogLeftBanners{
    display: none;
  }

  .productInfoInCell{
    display: block;
    vertical-align: middle;
    &:first-child{
      width: 100%;
    }

    &:last-child{
      width: 100%;
    }
  }


  .productInfoCartBtn {
    width: 100px;
  }
}
