/*------------------ Catalog ------------------*/


/*------------------ Catalog-left ------------------*/
.wrapCatalog{
  .wrapTitleDecor{
    text-align: left;
    margin-bottom: em(15px, 16px);
  }
}

.titleDecor{
  &.catalogTitle{
    padding-left: 0;
    text-transform: uppercase;
    color: $purple1;
    font-family: $RobotoRegular;
  }
}

.catalogTitleNumber{
  font-family: $RobotoThin;
  color: $gray6;
}

.catalogLeft{
  background: $pink5;
  padding: em(15px, 16px);
  margin-bottom: em(20px, 16px);
}

.catalogLeftTitle{
  color: $primeColor;
  font-size: em(24px, 16px);
  padding-bottom: em(10px, 24px);
  border-bottom: 2px solid $white;
  text-align: center;
  margin-bottom: em(25px, 24px);
}

.filterGroup{
  margin-bottom: em(25px, 16px);
}

.filterGroupTitle{
  color: $gray2;
  margin-bottom: em(20px, 18px);
  font-size: em(18px, 16px);
}

.filterItem{
  font-size: em(14px, 16px);
  margin-bottom: em(15px, 14px);
  input[type="checkbox"]{
    display: none;
  }
}

.itemPseudoCheckbox{
  display: inline-block;
  width: 17px;
  height: 17px;
  border-style: solid none none solid;
  border-color: $gray4;
  border-width: 1px;
  background: $white;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.filterItem input[type='checkbox']:checked + label > .itemPseudoCheckbox{
  @include transition-duration(.5s);
  background: $purple1;
}

.itemSizeLabel{
  color: $gray2;
}

.filterColor{
  margin-bottom: 0;
}

.filterItemColor{
  display: inline-block;
  margin-right: em(15px, 16px);
}

.itemColorPseudoCheckbox{
  width: 34px;
  height: 34px;
  border-radius: 34px;
}

.filterItem input[type='checkbox']:checked + label > .itemColorPseudoCheckbox{
  @include transition-duration(.5s);
  border-top: 3px inset #D38CF7;
  border-right: 3px inset $purple1;
  border-bottom: 3px inset $purple1;
  border-left: 3px inset #D38CF7;
}

.filterButton{
  @extend %btnFull;
  border: none;
  width: 49%;
  font-size: em(18px, 16px);
  padding: em(10px, 18px) 0;
}

.filterButtonShow{
  margin-right: 2%;
}

.filterButtonReser{
  margin-right: -4px;
  background: $pink1;
  &:hover{
    background: darken($pink1, 10%);
  }
}

.catalogLeftBanner{
  margin-bottom: em(20px, 16px);
}

/*------------------ Catalog-right ------------------*/

.rightTopFilterManufacturer{
  padding-bottom: em(25px, 16px);
  border-bottom: 2px solid $primeColor;
  margin-bottom: em(15px, 16px);
}

.filterManufacturerItem{
  display: inline-block;
  margin: 0 0 em(3px, 16px) 0;
  input[type="checkbox"]{
    display: none;
  }
}

.filterManufacturerItem input[type='checkbox']:checked + .filterManufacturerLabel{
  @include transition-duration(.5s);
  background: $purple1;
  color: $white;
  .filterManufacturerCountry{
    @include transition-duration(.5s);
    color: $white;
  }
}

.filterManufacturerLabel{
  font-size: em(14px, 16px);
  padding: em(3px, 14px);
  display: inline-block;
}

.filterManufacturerCountry{
  color: $gray4;
}

.wrapFilterMulti{
  display: inline-block;
}

.filterMulti{
  display: inline-block;
  margin-bottom: em(10px, 16px);

  .btn{
    border-radius: 0;
    padding: 4px 5px 4px 8px;
    border-color: $gray3;
  }

  .filter-option{
    font-size: em(14px, 16px);
    color: $primeColor;
  }

  .caret {
    margin-top: -5px!important;
    border-top: 10px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    right: 8px!important;
  }

  .selectpicker{
    outline: none;
  }

  .bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
  }

  &.filterQuantity{
    .bootstrap-select{
      max-width: 70px;
    }
  }
}

.filterMultiText{
  display: inline-block;
  font-size: em(14px, 16px);
  margin-right: em(5px, 14px);
  color: $gray3;
}

.catalogRightSwitch{
  display: inline-block;
  vertical-align: middle;
}

.catalogSwitch{
  display: inline-block;
  cursor: pointer;
  [class^="icon-"]{
    font-size: em(40px, 16px);
  }
  :hover{
    color: darken($primeColor, 10%);
  }
}

.catalogRightSwitch{
  .catalogSwitchGrid{
    color: $primeColor;
  }
  .catalogSwitchList{
    color: $gray3;
  }
  &.listItem{
    .catalogSwitchGrid{
      color: $gray3;
    }
    .catalogSwitchList{
      color: $primeColor;
    }
  }
}

/*------------------ Catalog-right content ------------------*/

#products{
  position: relative;
}

.wrapCatalogRight{
  @media (min-width: 768px) and (max-width: 992px) {
    .col-sm-8 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.catalogProductImageLink{
  position: relative;
  display: block;
  overflow: hidden;

  .fastView{
    position: absolute;
    color: $white;
    font-size: em(18px, 16px);
    background: rgba(182, 36, 142, 0.5);
    padding: em(5px, 18px) em(15px, 18px);
    top: 40%;
    left: calc(50% - 100px);
    display: none;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: em(16px, 16px);
      left: calc(50% - 88px);
    }

    @media (max-width: 992px) {
      width: em(160px, 16px);
      left: calc(50% - 80px);
    }
  }
  &:hover{
    .fastView{
      display: block;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.catalogProductTitleLink{
  color: $gray1;
  display: inline-block;
  margin-bottom: em(15px, 16px);
  &:hover{
    color: $gray1;
    text-decoration: underline;
  }
}

.catalogProductArticle,
.catalogProductMaterial{
  font-size: em(14px, 16px);
  color: $gray4;
  margin-bottom: em(15px, 14px);
}

.catalogProductMaterialType{
  color: $gray1;
}

.catalogProductManufacturer{
  margin-bottom: em(15px, 16px);
}

.productInfoTable{
  display: table;
  width: 100%;
  border-spacing: 0 em(5px, 16px);
  margin-bottom: em(15px, 16px);
}

.productInfoRow{
  display: table-row;
  color: $gray1;
  &:hover{
    background: $gray5;
    color: $gray1;
    .productInfoCell1{
      [class^="icon-"]{
        opacity: 1;
      }
    }
  }
}

.productInfoCell{
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  &:last-child{
    padding-right: 0;
  }
}

.productInfoAvailabilityYes{
  color: $green1;
}

.productInfoAvailabilityNo{
  color: $gray3;
}

.productInfoPrice{
  color: $purple1;
}

.productInfoCell1{
  text-align: left;
  [class^="icon-"]{
    font-size: em(32px, 16px);
    color: $purple1;
    opacity: .5;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.productInfoInCell {
  line-height: 1.2em;
}

.productInfoCell2{
  font-size: em(12px, 16px);
}

.productInfoArticle{
  color: $gray3;
}

.productInfoCell3{
  font-size: em(14px, 16px);
}

.productInfoCell4{
  text-align: right;
  display: none;
}

.productInfoCartBtn,
.catalogProductCartBtn{
  width: 110px;
  border: 2px solid $green2;
  font-size: em(16px, 16px);
  padding: em(8px, 16px) em(15px, 16px);
  @extend %btnFull;
  &:hover{
    background: $white;
    color: $green2;
  }
}

.catalogProduct {
  .catalogProductCartBtn {
    background: $white;
    color: $green2;
    margin: 0 auto;
    display: none;
    &:hover {
      background: $green2;
      color: $white;
    }
  }
}

.catalogProductCartBtn{
  background: $white;
  color: $green2;
  margin: 0 auto;
  display: block;
  &:hover{
    background: $green2;
    color: $white;
  }
}

.productInfoBtn{
  max-width: 80px;
  border: 2px solid $primeColor;
  font-size: em(12px, 16px);
  background: $primeColor;
  padding: em(4px, 12px);
  @extend %btnFull;
  &:hover{
    background: $white;
    color: $primeColor;
  }
}

.item.list-group-item {
  float: none;
  width: 100%;
  border: none;

  .catalogProduct{
    padding: 10px;
    margin-bottom: em(15px, 16px);
    border-radius: 0;
    border: 1px solid $primeColor;
    overflow: hidden;
  }

  .wrapCatalogProductImage{
    width: 23%;
    display: inline-block;
    margin-right: 2%;
  }

  .catalogProductInfo{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
  }

  .productInfoInCell{
    display: inline-block;
    vertical-align: middle;
    &:first-child{
      width: 55%;
    }

    &:last-child{
      margin-left: -4px;
      width: 45%;
    }
  }

  .catalogProductCartBtn,
  .catalogProductPrice{
    display: none;
  }

  .productInfoCell4{
    display: block;
  }

  .catalogProductInfoGridShow{
    display: block;
  }
  .productInfoTable{
    display: table;
    margin-bottom: 0;
  }

  .catalogProduct{
    &:hover {
      position: relative;

      .catalogProductCartBtn{
        display: none;
      }
    }
  }
}

.catalogProductPrice{
  color: $purple1;
  font-size: em(18px, 16px);
  text-align: center;
  margin-bottom: em(15px, 18px);
}

.catalogProductInfoGridShow,
.productInfoTable{
  display: none;
}

.catalogContentProduct{
  background-color:green;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img{
  float:left;
}

.item.list-group-item:after
{
  clear:both;
}

.catalogProduct {
  border: 1px solid $white;
  padding: em(10px, 16px);
  background: $white;
  &:hover {
    position: absolute;
    z-index: 100;
    border: 1px solid $primeColor;
    box-sizing: border-box;
    @include transition-duration(1s);

    .catalogProductInfoGridShow{
      display: block;
    }

    .productInfoTable {
      display: table;
    }

    .catalogProductPrice {
      display: none;
    }

    .catalogProductCartBtn{
      display: block;
    }
  }
}


@media (max-width: 992px) {
  .item.list-group-item {

    .wrapCatalogProductImage{
      max-width: 220px;
      display: block;
      margin: 0 auto em(15px, 16px);
    }

    .catalogProductInfo{
      width: 100%;
      display: block;
    }
  }
  
  .productInfoCartBtn{
    font-size: em(14px, 16px);
  }
}

@media (max-width: 768px) {
  .item {
    .catalogProductInfoGridShow{
      display: block!important;
    }

    .productInfoTable {
      display: table!important;
    }

    .catalogProductPrice {
      display: none;
    }

    &:hover {
      border: none;
    }
  }

  .catalogProductImageLink{
    max-width: 200px;
    margin: 0 auto em(15px, 16px);
  }

  .catalogProductCartBtn{
    display: none;
  }

  .productInfoCell4{
    display: table-cell;
  }

  .catalogRightSwitch{
    display: none;
  }
}
