/*------------------ Fonts ------------------*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/iconMenu/icomoon.eot');
  src:url('../fonts/iconMenu/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconMenu/icomoon.woff') format('woff'),
  url('../fonts/iconMenu/icomoon.ttf') format('truetype'),
  url('../fonts/iconMenu/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}