/*------------------ Global ------------------*/

body{
  font-family: $RobotoRegular;
  font-size: 16px;
}

a{
  color: $white;
  &:hover{
    color: darken($white, 10%);
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

input,
textarea{
  outline: none;
  &:focus{
    border-color: inherit;
  }
}

img{
  width: 100%;
}

.cartBtn{
  border: 2px solid $green2;
  color: $green2;
  font-size: em(18px, 16px);
  display: inline-block;
  background: $white;
  padding: em(8px, 18px) em(10px, 18px);
  &:hover{
    border: 2px solid $green1;
    color: $white;
    background: $green1;
  }
}

.wrapTitleDecor{
  overflow: hidden;
  text-align: center;
  margin-bottom: em(40px, 16px);

  .titleDecor{
    display: inline-block;
    position: relative;
    font-family: $RobotoMedium;
    font-size: em(36px, 16px);
    padding: 0 em(26px, 36px) em(5px, 36px);
    color: $primeColor;

    @media (max-width: 768px) {
      font-size: em(30px, 16px);
    }
    &:before,
    &:after{
      content: "";
      display: block;
      width: 3000px;
      height: em(27px, 36px);
      background: url("../image/decor/decor_2.png") -5px repeat-x;
      position: absolute;
      top: em(8px, 36px);
      @media (max-width: 768px) {
        height: em(26px, 30px);
      }
    }

    &:after{
      right: 100%;
    }

    &:before{
      left: 100%;
    }
  }
}

.textBlock{
  color: $gray2;
  font-size: em(14px, 16px);
  padding: em(26px, 14px) em(10px, 14px);
  border-top: 2px solid $primeColor;
}

.wrapPageTitle{
  margin-bottom: em(30px, 16px);
  text-align: left;
  .pageTitle{
    padding-left: 0;
    font-family: $RobotoRegular;
    color: $primeColor;
  }
}

.wrapScroll{
  position: fixed;
  top: 42%;
  right: 2%;
  text-align: center;
  z-index: 100;
  @media (max-width: 768px) {
    top: 75%;
    right: 15px;
  }
}

.scroll{
  color: $green1;
  font-size: em(36px, 16px);
  cursor: pointer;
  &:hover{
    color: darken($green1, 10%);
  }
}

.circle{
  width: 32px;
  height: 32px;
  background: $green1;
  display: inline-block;
  border-radius: 50%;
}



