/*------------------ Header ------------------*/

@import "mobileMenu";

// Burger menu button
$burger--thickness: 4px;
.burger {
  $width: 28px;

  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;

  border-bottom: $burger--thickness solid currentColor;
  width: $width;

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;

  // Fix for extra space in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:before {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

/*------------------ Header-top ------------------*/

.wrapMobileMenu{
  display: none;
}

.wrapHeaderTop{
  background: $purple1 url("../image/bgPurple.png") repeat-x;
}

.topMenuList{
  overflow: hidden;
}

.topMenuItem{
  float: left;
  &:first-child .topMenuLink{
    padding-left: 0;
  }
}

.topMenuLink{
  color: $white;
  padding: em(15px, 16px) em(5px, 16px);
  display: inline-block;
}

.enterToSite{
  [class^="icon-"]{
    font-size: em(25px, 16px);
    line-height: em(30px, 16px);
    color: $green2;
    margin-right: em(10px,16px);
    &:hover{
      color: darken($green2, 10%);
    }
  }
}

.logIn,
.singUp{
  display: inline-block;
}

/*------------------ Header-middle ------------------*/

.middleContact{
  margin-left: em(10px, 16px);
  margin-bottom: em(15px, 16px);
}

.middleContactIcon{
  [class^="icon-"]{
    font-size: em(45px, 16px);
    color: $purple1;
    margin-left: em(-10px, 45px);
    line-height: em(32px, 16px);
  }
}

.middleContactPhone{
  display: block;
  color: $gray1;
  font-size: em(24px, 16px);
  margin-bottom: em(5px, 24px);
  &:hover{
    color: $gray1;
  }
}

.middleContactPhoneCode{
  color: $purple1;
  font-size: em(18px, 24px);
}

.feedbackBtn{
  @extend %btnFull;
  padding: em(10px, 16px) em(20px, 16px);
  font-size: em(18px, 16px);
}

.headerLogo{
  text-align: center;
}

/*------------------ Header-bottom ------------------*/