/*------------------ Header ------------------*/

@import "mobileMenu";

.dl-menuwrapper button {
  position: absolute;
  height: 46px;
  background: none;
  cursor: pointer;
  padding: 0;
  &.dl-active{
    background: none;
  }
}


.dl-menuwrapper {
  .dl-menu {
    min-width: 290px;
    margin-top: 50px;
  }
  &:first-child {
    margin-right: 0;
    position: relative;
    z-index: 100;
  }
}

.dl-menuwrapper li > a:after,
.dl-menuwrapper li.dl-back:after{
  color: $pink1;
}

.mobileMenuItem,
.mobileSubMenuItem{
  border-bottom: 1px solid $white;
  background: $pink3;
  &:last-child{
    border-bottom: none;
  }
}

.dl-back{
  background: $pink2;
}

.dl-menuwrapper button:hover{
  background: none;
}

.burger {
  width: 33px;
  cursor: pointer;
  &:hover{
    .burger-brick {
      background: darken($green2, 10%);
    }
  }
}


.dl-active{
  .burger{
    margin-top: -14px;
  }
}
.burger-brick {
  height: 4px;
  background: $green2;
  margin-top: 6px;
  -webkit-transition: 0.8s ease-out;
  -moz-transition: 0.8s ease-out;
  -ms-transition: 0.8s ease-out;
  -o-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  &:first-child{
    margin-top: 0;
  }
}

.dl-active .burger-brick:first-child {
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
  margin-top: 14px;
}

.dl-active .burger-brick:last-child {
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  margin-top: -14px;
}

.dl-active .middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}


/*------------------ Header-top ------------------*/

.mainHeader {
  border-bottom: 1px solid #9A008D;
  margin-bottom: em(15px, 16px);
  @media (min-width: 992px) {
    border-bottom: none;
  }
}

.wrapHeaderTop{
  background: $purple1 url("../image/bgPurple.png") repeat-x;
}

.topMenuList{
  overflow: hidden;
}

.topMenuItem{
  float: left;
  &:first-child .topMenuLink{
    padding-left: 0;
  }
}

.topMenuLink{
  color: $white;
  padding: em(15px, 16px) em(5px, 16px);
  display: inline-block;
}

.enterToSite{
  text-align: right;
  [class^="icon-"]{
    font-size: em(25px, 16px);
    line-height: em(30px, 16px);
    color: $green2;
    margin-right: em(10px,16px);
    &:hover{
      color: darken($green2, 10%);
    }
  }
}

.logIn,
.singUp{
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.singUp{
  [class^="icon-"] {
    margin-right: 0;
  }
}

/*------------------ Header-middle ------------------*/

.headerMiddle{
  margin-bottom: em(15px, 16px);
}

.middleContact{
  margin-left: em(10px, 16px);
  margin-bottom: em(15px, 16px);
}

.middleContactIcon{
  [class^="icon-"]{
    font-size: em(45px, 16px);
    color: $pink3;
    margin-left: em(-10px, 45px);
    line-height: em(36px, 16px);
  }
}

.middleContactPhone{
  display: block;
  color: $gray1;
  font-size: em(24px, 16px);
  margin-bottom: em(5px, 24px);
  &:hover{
    color: $gray1;
  }
}

.middleContactPhoneCode{
  color: $purple1;
  font-size: em(18px, 24px);
}

.feedbackBtn{
  @extend %btnFull;
  padding: em(10px, 16px) em(20px, 16px);
  font-size: em(18px, 16px);
  border: none;
}

.middleContentRightTop{
  overflow: hidden;
  padding: em(10px, 16px) 0 em(15px, 16px);
}

.headerLogo{
  text-align: right;
  margin-top: em(25px, 16px);
}

.headerLogoImage {
  max-width: 330px;
}

.headerUser{
  text-align: right;
  color: $gray3;
  margin-bottom: em(10px, 16px);
}

.headerUserLink{
  color: $primeColor;
  &:hover{
    color: darken($primeColor, 10%);
    text-decoration: underline;
  }
}

.headerInfoCart{
  text-align: right;
}

.infoCartIcon{
  [class^="icon-"] {
    font-size: em(40px, 16px);
    color: $pink3;
  }
  margin-bottom: em(20px, 16px);
}

.infoCartTitleLink{
  color: $primeColor;
  font-size: em(16px, 16px);
  margin-bottom: em(5px, 18px);
  &:hover{
    color: darken($primeColor, 10%);
    text-decoration: underline;
  }
}

.infoCart{
  color: $purple1;
  font-size: em(18px, 16px);
  margin-bottom: em(5px, 18px);
}

.infoCartNumber{
  color: $gray2;
  font-size: em(24px, 18px);
}

.headerSearch{
  position: relative;

  .form-control{
    border: 0;
    height: em(44px, 16px);
    line-height: em(22px, 16px);
  }

  .input-group{
    border: 3px solid $primeDark;
  }

  .form-control::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: em(18px, 16px);
    color: $gray1;
    font-family: $RobotoThin;
  }

  .form-control::-moz-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
    color: $gray1;
    font-family: $RobotoThin;
  }

  .form-control:-moz-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
    color: $gray1;
    font-family: $RobotoThin;
  }

  .form-control:-ms-input-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
    color: $gray1;
    font-family: $RobotoThin;
  }
  .form-control:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .form-control:focus::-moz-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .form-control:focus:-moz-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .form-control:focus:-ms-input-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .btn-default{
    border: none;
    &:hover{
      background: none;
    }
    &:focus{
      background: none;
      outline: none;
    }
    &:active{
      background: none;
    }
  }

  .input-group-btn{
    [class^="icon-"]{
      font-size: em(26px, 16px);
      color: $green2;
      vertical-align: middle;
      &:hover{
        color: darken($green2, 10%);
      }
    }
  }
}

.headerSearchResult{
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  background: $white;
  border: 3px solid $gray4;
  box-sizing: border-box;
  padding: em(15px, 16px);

}

.headerSearch{
  &:hover{
    .headerSearchResult{
      display: block;
    }
  }
}

.closeIcon{
  text-align: right;
  margin-bottom: em(5px, 16px);
  [class^="icon-"] {
    color: $gray4;
    cursor: pointer;
    &:hover{
      color: darken($gray4, 10%);
      @include transition-duration(1s)
    }
  }
}

.wrapSearchResultImage{
  float: left;
  height: em(95px, 16px);
  width: 23%;
  margin-right: 2%;
  .searchResultImage{
    max-width: em(160px, 16px);
    width: 100%;
    height: em(95px, 16px);
  }
}

.searchResult{
  overflow: hidden;
  border-bottom: 1px solid $pink3;
  display: block;
  padding: em(10px, 16px);
  &:hover{
    background: $gray5;
  }
}

.resultImageInfoTitle{
  color: $gray2;
  font-size: em(16px, 16px);
  margin-bottom: em(5px, 16px);
}

.searchResultImageInfo{
  float: left;
  width: 75%;
}

.resultImageInfoArticle{
  color: $gray3;
  font-size: em(12px, 16px);
}

.resultImageInfoPrice{
  color: $purple1;
  font-size: em(14px, 16px);
  margin-top: em(20px, 14px);
}

.wrapSearchResultBtn{
  text-align: center;
  padding-top: em(10px, 16px);
}

.searchResultBtn{
  color: $primeColor;
  padding: em(10px, 16px);
  font-size: em(18px, 16px);
  background: $gray6;
  display: inline-block;
  &:hover{
    background: darken($gray6, 10%);
    color: $primeColor;
  }
  [class^="icon-"] {
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

/*------------------ Header-bottom ------------------*/

.wrapHeaderBottom{
  background: $pink3 url("../image/bgPink.png") repeat-x;
}

.headerCategoryItem{
  width: 10%;
  float: left;
  text-align: center;
  position: relative;
}

.headerCategoryLink{
  display: inline-block;
  padding: em(15px, 16px) 0;
  width: 100%;
  min-height: em(140px, 16px);

  span{
    display: block;
  }

  [class^="icon-"]{
    font-size: em(64px, 16px);
    margin-bottom: em(10px, 64px);
  }

  &:hover{
    background: $primeColor;
    color: $white;

    .headerCategoryLinkTitle{
      color: $white;
    }
  }

  .headerCategoryLinkTitle{
    margin: 0 em(5px, 16px);
    color: $primeColor;
    line-height: em(22px, 18px);
    @media (min-width: 1200px) {
      margin: 0 em(18px, 16px);
    }
  }
}

.headerCategorySubList{
  display: none;
}

.headerCategoryItem{
  &:nth-child(n+6){
    .headerCategorySubList {
      right: 0;
    }
  }
  &:hover{
    > .headerCategorySubList{
      display: block;
    }
  }
}

.headerCategorySubList{
  width: em(550px, 18px);
  text-align: left;
  padding: em(20px, 18px);
  border: 1px solid $primeColor;
  box-sizing: border-box;
  background: $white;
  position: absolute;
  @include transition-duration(2s);
  z-index: 10;
}

.headerCategorySubListLeft{
  width: 50%;
  float: left;
}

.headerCategorySubListRight{
  width: 50%;
}

.headerCategorySubItem{
  margin-bottom: em(10px, 16px);
}

.headerCategorySubLink{
  font-size: em(18px, 16px);
  padding: 0 em(5px,18px);
  color: $gray1;
  &:hover {
    background: $pink3;
    color: $gray1;
  }
}

.headerCategoryItem1{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/bedroom.png") right no-repeat;
  }
}

.headerCategoryItem2{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/kitchen.png") right no-repeat;
  }
}

.headerCategoryItem3{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/bathroom.png") right no-repeat;
  }
}

.headerCategoryItem4{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/kidsroom.png") right no-repeat;
  }
}

.headerCategoryItem5{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/closes.png") right no-repeat;
  }
}

.headerCategoryItem6{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/childworld.png") right no-repeat;
  }
}

.headerCategoryItem7{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/home.png") right no-repeat;
  }
}

.headerCategoryItem8{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/underwear.png") right no-repeat;
  }
}

.headerCategoryItem9{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/rest.png") right no-repeat;
  }
}

.headerCategoryItem10{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/forhotel.png") right no-repeat;
  }
}

.headerCategoryItem1{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/bedroom.png") right no-repeat;
  }
}

.headerCategoryItem1{
  .headerCategorySubList{
    background: $white url("../image/categoryBg/bedroom.png") right no-repeat;
  }
}


@media (max-width: 992px) {

  .middleContactIcon,
  .infoCartIcon{
    display: none;
  }

  .infoCart{
    font-size: em(16px, 16px);
  }

  .headerLogo{
    margin-top: 0;
  }

  .headerMiddleContentLeft{
    margin-top: em(20px, 16px);
  }

  .wrapSearchResultImage {
    width: 33%;
  }

  .searchResultImageInfo {
    width: 65%;
  }
}

@media (max-width: 768px) {

  .wrapSearchResultImage {
    display: none;
  }

  .searchResultImageInfo {
    width: 100%;
  }

  .headerMiddleContentLeft {
    margin-top: em(16px, 16px);
    overflow: hidden;
  }

  .middleContact {
    margin-left: 0;
    float: left;
  }

  .middleContactPhone {
    font-size: em(16px, 16px);
  }

  .headerMiddleContentLeft{
    .feedback {
      float: right;
    }
  }

  .feedbackBtn {
    font-size: em(16px, 16px);
  }

  .headerLogo {
    text-align: left;
    margin-top: 0;
  }

  .headerLogoImage {
    max-width: em(200px, 16px);
  }

  .infoCartTitleLink {
    margin-bottom: em(5px, 16px);
  }

  .infoCartNumber {
    font-size: em(16px, 16px);
  }
}