/*------------------ Modal ------------------*/

.wrapModalGlobal{
  .form-horizontal{
    .control-label{
      text-align: right;
      margin-bottom: 0;
      padding-top: 7px;
      color: $gray3;
    }
  }

  .form-control {
    border-radius: 0;
  }
}

.modal-backdrop {
  background: rgb(63, 38, 75);
}

.modal-backdrop.in {
  opacity: .95;
}

.modalGlobal{
  background: url("../image/bgPink.png") repeat;
  padding: em(15px, 16px);
}

.modalTitle{
  color: $primeColor;
  font-size: em(18px, 16px);
}

.modalHeader{
  padding-bottom: em(15px, 16px);
  border-bottom: 1px solid $gray5;
}

.modalBody{
  padding: em(20px, 16px) 0;
}

.forgotPasswordLink{
  margin-top: em(14px, 14px);
  display: inline-block;
  color: $purple1;
  font-size: em(14px, 16px);
  &:hover{
    color: $purple1;
    text-decoration: underline;
  }
}

.modalFormEnter{
  overflow: hidden;
}

.modalFormEnterBtn{
  border: none;
  font-size: em(18px, 16px);
  padding: em(10px, 18px) em(15px, 18px);
  @extend %btnFull;
  background: $pink1;
  float: right;
  &:hover{
    background: darken($pink1, 10%);
  }
}

.modalNotRegister{
  overflow: hidden;
}

.modalNotRegisterText{
  margin-bottom: em(20px, 18px);
  font-size: em(18px, 16px);
  clear: both;
}

.modalForm{
  margin-bottom: em(50px, 16px);
}

.modalNotRegisterBtn{
  border: none;
  padding: em(10px, 18px) em(15px, 18px);
  font-size: em(18px, 16px);
  @extend %btnFull;
  background: $primeColor;
  float: right;
  &:hover{
    background: darken($primeColor, 10%);
  }
}

@media (min-width: 768px) {

  .wrapModalGlobal{
    .modal-dialog {
      max-width: 470px;
    }
  }

  .wrapModalGlobalLarge{
    .modal-dialog {
      max-width: 1000px;
    }
  }

  .modalTitle{
    font-size: em(30px, 16px);
  }

}

//Modal cart

.modalCart{
  .modalForm{
    margin-bottom: em(15px, 16px);
  }

  .modalHeader{
    border-bottom: none;
  }

  .checkoutProduct{
    &:nth-child(odd){
      background: $white;
    }
  }
  
  .checkoutProducts{
    margin-bottom: 0;
  }

  .checkoutProductTotal{
    @media (min-width: 768px) {
      margin-left: 59%;
    }
  }

  .checkoutProductAbout{
    @media (min-width: 768px) {
      width: 45%;
    }
  }

  .checkoutProductCount{
    @media (min-width: 768px) {
      width: 13%;
    }
  }

  .feedbackBtn{
    font-size: em(18px, 16px);
    padding: em(10px, 18px) em(15px, 18px);
  }

  .modalNotRegisterBtn{
    margin-left: 15px;
  }

  .backBuyBtn{
    padding: em(10px, 18px) em(15px, 18px);
  }

  .feedbackBtn{
    float: right;
  }

  @media (max-width: 992px) {

    .modalNotRegister{
      text-align: center;
    }

    .backBuyBtn,
    .modalNotRegisterBtn{
      margin-bottom: 10px;
    }

    .modalNotRegisterBtn{
      float: none;
      margin-left: 0;
    }

    .feedbackBtn{
      float: none;
    }
  }

  @media (max-width: 768px) {
    .checkoutProductImage{
      display: none;
    }
  }
}

//Modal forgot

.modalLoginForgot{
  .control-label-login{
    margin-bottom: em(20px, 18px)!important;
    font-size: em(18px, 16px);
    color: $gray1!important;
    text-align: left!important;
  }
}

//Modal new

.modalLoginNew{
  .modalForm{
    margin-bottom: 0;
  }
}

//Modal quick view

.modalQuickView{
  &.modalGlobal{
    background: $white;
  }

  .productCardPrice{
    font-size: em(18px, 16px);
  }

  .productCardBtn{
    font-size: em(14px, 16px);
  }
}

//Modal notify

.modalNoticeArrival,
.modalFeedBack{
  label{
    font-size: em(18px, 16px);
    text-align: left!important;
    @media (max-width: 768px){
      font-size: em(14px, 16px);
    }
  }
  
  [for="inputNoticeNumber"] + .col-sm-2{
    padding-left: 0!important;
  }
  
  .modalBodyText{
    font-size: em(18px, 16px);
    color: $gray1;
    margin-bottom: em(10px, 18px);
  }

  .modalBodyProductTitle{
    color: $purple1;
    line-height: 1.2em;
    font-size: em(18px, 16px);
    margin-bottom: em(15px, 18px);
  }

  textarea{
    resize: vertical;
  }

  .captchaText{
    color: $gray3;
  }

  .modalForm{
    margin-bottom: em(15px, 16px);
  }
}