
%link{
  color: $purple1;
  &:hover{
    color: darken($purple1, 5%);
    text-decoration: underline;
  }
}

%linkCategory{
  color: $primeColor;
  &:hover{
    color: darken($primeColor, 5%);
    text-decoration: underline;
  }
}

%btnFull{
  color: $white;
  background: $green2;

  display: inline-block;
  &:hover {
    color: darken($white, 10%);
    background: darken($green2, 5%);
  }
}

%titleUpper{
  text-transform: uppercase;
}

%title{
//  color: $primeColorSecond;
  font-size: em(24px);
  font-family: Roboto-mediun, sans-serif;
}