/*------------------ Product-card ------------------*/

.wrapProductCard{
  .wrapTitleDecor{
    text-align: left;
  }
}

/*------------------ Product-card-top ------------------*/

.productCardRowLink{
  color: $gray2;
  display: block;
  &:hover{
    background: $gray5;
    color: $gray2;
  }
}

.productCardCell{
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  vertical-align: middle;
}

.productCardRowTop{
  .productCardCell{
    vertical-align: top;
  }
}

.productCardRowBottom{
  .productCardCell1{
    width: 50%;
  }
}










/*------------------ Product-card-bottom ------------------*/
