/*------------------ Special Offers ------------------*/

.wrapSpecialOffers{
  margin-bottom: em(50px, 16px);
}

.wrapOfferCarousel {
  .thumbnail {
    margin-bottom: 0;
    border: none;
    padding: 0;
  }
}

.carousel-control {
  top: 30%;
  bottom:auto;
  width: em(24px, 20px);
  height: em(50px, 20px);
  text-shadow: none;
  opacity: 1;
  background: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  [class^="icon-"] {
    color: $gray3;
    font-size: em(40px, 16px);
    position: relative;
    line-height: em(40px, 40px);
  }
  &:hover{
    background: $pink3;
    [class^="icon-"] {
      color: $white;
    }
  }
}
.carousel-control:hover {
  color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
  background-image:none !important;
}
.carousel-control.right {
  left:auto;
  right: 1px;
  [class^="icon-"] {
    right: em(12px, 40px);
  }
}
.carousel-control.left {
  right:auto;
  left: 1px;
  [class^="icon-"] {
    right: em(12px, 40px);
  }
}

.specialOffer{
  border: 1px solid $white;
  box-sizing: border-box;
  &:hover{
    border: 1px solid $pink2;
  }
  @media (max-width: 768px) {
    margin: 0 em(15px, 16px) em(25px, 16px);
  }
}

.specialOfferImageLink{
  display: block;
  position: relative;
  .fastView{
    width: em(200px, 16px);
    position: absolute;
    color: $white;
    font-size: em(18px, 16px);
    background: rgba(182, 36, 142, 0.5);
    padding: em(5px, 18px) em(15px, 18px);
    top: 40%;
    left: calc(50% - 100px);
    display: none;
    text-align: center;
    @media (max-width: 992px) {
      width: em(160px, 16px);
      font-size: em(16px, 16px);
      left: calc(50% - 80px);
    }
  }
  &:hover{
    .fastView{
      display: block;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.specialOfferImage{
  max-width: 370px!important;
}

.specialOfferInfo{
  position: relative;
  padding: em(10px, 16px);

  .cartBtn {
    position: absolute;
    bottom: em(5px, 16px);
    right: em(5px, 16px);
    line-height: 1em;
  }
}

.specialOfferTitleLink{
  font-size: em(16px, 16px);
  color: $gray1;
  &:hover{
    color: $gray1;
    text-decoration: underline;
  }
}

.specialOfferType{
  font-size: em(14px, 16px);
  color: $gray4;
  margin-bottom: em(14px, 14px);
}

.specialOfferPrice{
  font-family: $RobotoBold;
  color: $purple1;
}
