
$primeColor: #b6258f;
$primeDark: #9a008d;

$pink1: #c0429e;
$pink2: #d675bc;
$pink3: #debcf8;
$pink4: #e5c3ff;



$purple1: #9951bd;

$gray1: #444444;
$gray2: #505050;
$gray3: #757575;
$gray4: #a1a1a1;
$gray5: #eeeeee;
$gray6: #d3d3d3;

$green1: #99b84d;
$green2: #a9ca54;

$white: #ffffff;


$RobotoRegular: Roboto-regular, sans-serif;
$RobotoMedium: Roboto-medium, sans-serif;
$RobotoBold: Roboto-bold, sans-serif;
$RobotoThin: Roboto-thin, sans-serif;
$MyraidproRegular: Myriadpro-regular, sans-serif;
$MyraidproSemibold: Myriadpro-semibold, sans-serif;



