$mainColor: #000;
$secondMainColor: #666;
$thirdMainColor: #999;
$whiteColor: #fff;
$mainTitleColor: #003378;
$electronicsTitleColor: #006699;
$internetTitleColor: #0066ff;
$entertainmentTitleColor: #003399;
$innovationTitleColor: #022a52;
$borderColor: #ccc;
$footerMenuItemColor: #0099cc;
$facebookColor: #336699;
$twitterColor: #6699cc;
$instagramColor: #996666;
$googleplusColor: #cc3333;

$borderRadius: 3px;

