
$primeColor: #2b79ec;
$primeSecondColor: #1550a4;
$primeBackgroundColor: #f6f6f6;
$primeSecondBackgroundColor: #ffffff;
$menuBackgroundColor: #fbfbfb;
$footerBackgroundColor: #f7f7f7;
$borderColor_1: #e1e4e6;
$borderColor_2: #D6D9DB;
$borderShadowColor: #ebebeb;
$fontColor_1: #646c6c;
$fontColor_2: #969696;
$fontColor_3: #ffffff;
$fontColor_4: #808080;
$fontColor_5: #D6D9DB;
$buttonColor: #1ab86b;

$borderRadius: 5px;

$sans-reg: "ProximaNova-Regular", Arial, sans-serif;
$sans-italic: "ProximaNova-Italic", Arial, sans-serif;
$sans-bold: "ProximaNova-Bold", Arial, sans-serif;
$sans-extrabold: "ProximaNova-Extrabold", Arial, sans-serif;
$sans-light: "ProximaNova-Light", Arial, sans-serif;
$sans-semibold: "ProximaNova-Semibold", Arial, sans-serif;
