//-------------------------
// Fonts
//-------------------------

@font-face {
    font-family: 'Roboto-Regular';
    src:url('../fonts/roboto/Roboto-Regular.eot?ty1yte');
    src:url('../fonts/roboto/Roboto-Regular.eot?ty1yte#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Regular.ttf?ty1yte') format('truetype'),
    url('../fonts/roboto/Roboto-Regular.woff?ty1yte') format('woff'),
    url('../fonts/roboto/Roboto-Regular.svg?ty1yte#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src:url('../fonts/roboto/Roboto-Light.eot?ty1yte');
    src:url('../fonts/roboto/Roboto-Light.eot?ty1yte#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Light.ttf?ty1yte') format('truetype'),
    url('../fonts/roboto/Roboto-Light.woff?ty1yte') format('woff'),
    url('../fonts/roboto/Roboto-Light.svg?ty1yte#icons') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src:url('../fonts/roboto/Roboto-Bold.eot?ty1yte');
    src:url('../fonts/roboto/Roboto-Bold.eot?ty1yte#iefix') format('embedded-opentype'),
    url('../fonts/roboto/Roboto-Bold.ttf?ty1yte') format('truetype'),
    url('../fonts/roboto/Roboto-Bold.woff?ty1yte') format('woff'),
    url('../fonts/roboto/Roboto-Bold.svg?ty1yte#icons') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Icons
//-------------------------

@font-face {
    font-family: 'icons';
    src:url('../fonts/icons/icons.eot?ty1yte');
    src:url('../fonts/icons/icons.eot?ty1yte#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?ty1yte') format('truetype'),
    url('../fonts/icons/icons.woff?ty1yte') format('woff'),
    url('../fonts/icons/icons.svg?ty1yte#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowDown:before {
    content: "\e900";
}
.icon-arrowTop:before {
    content: "\e901";
}
.icon-arrowLeftBig:before {
    content: "\e902";
}
.icon-arrowRightBig:before {
    content: "\e903";
}
.icon-arrowLeftCircle:before {
    content: "\e904";
}
.icon-arrowRightCircle:before {
    content: "\e905";
}
.icon-arrowRight:before {
    content: "\e906";
}
.icon-phone:before {
    content: "\e907";
}
.icon-persone:before {
    content: "\e908";
}
.icon-letter:before {
    content: "\e909";
}
.icon-briefcase:before {
    content: "\e90a";
}
.icon-car:before {
    content: "\e90b";
}
.icon-document:before {
    content: "\e90c";
}
.icon-cart:before {
    content: "\e90d";
}
.icon-exchange:before {
    content: "\e90e";
}
.icon-eye:before {
    content: "\e90f";
}
.icon-handshake:before {
    content: "\e910";
}
.icon-iconMenu_1:before {
    content: "\e911";
}
.icon-iconMenu_2:before {
    content: "\e912";
}
.icon-iconMenu_3:before {
    content: "\e913";
}
.icon-iconMenu_4:before {
    content: "\e914";
}
.icon-iconMenu_5:before {
    content: "\e915";
}
.icon-iconMenu_6:before {
    content: "\e916";
}
.icon-iconMenu_7:before {
    content: "\e917";
}
.icon-iconMenu_8:before {
    content: "\e918";
}
.icon-iconMenu_9:before {
    content: "\e919";
}
.icon-star:before {
    content: "\e91a";
}
.icon-iconPlusCircle:before {
    content: "\e91b";
}
.icon-minusCircle:before {
    content: "\e91c";
}
.icon-close:before {
    content: "\e925";
}
.icon-comment:before {
    content: "\e952";
}
.icon-search:before {
    content: "\e954";
}
.icon-th:before {
    content: "\e600";
}
.icon-vkontakte:before {
    content: "\e601";
}
.icon-googleplus:before {
    content: "\e602";
}
.icon-facebook:before {
    content: "\e603";
}
.icon-twitter:before {
    content: "\e604";
}
.icon-th-line:before {
    content: "\e605";
}
.icon-revers:before {
    content: "\e60d";
}
.icon-menu:before {
    content: "\e60e";
}
.icon-discount-label:before {
    content: "\e614";
}
.icon-arrowFull:before {
    content: "\e60c";
}
.icon-calendar:before {
    content: "\e616";
}
.icon-youtube:before {
    content: "\e953";
}

