/*----- Item Section -----*/

.infoItem{
  @extend %sectionItem;
}

.open{
  @include border-radius($borderRadius $borderRadius 0 0);
  border-bottom: none;
  margin-bottom: 0;
}

.detailsItem{
  @extend %sectionItem;
  @include border-radius(0 0 $borderRadius $borderRadius);
  border-top: none;
  top: -5px;
  padding: 0em 2em 1.12em;
  display: none;
}

.details{
  @include border-radius($borderRadius);
  @include box-shadow(2px 2px 0 $borderShadowColor);
}

@media screen and (min-width: 768px) {

  .pseudoTd:first-child{
    padding: 0 1.333em 0 0;
  }

  .pseudoTd {
    display: table-cell;
  }

  .infoItem{
    padding: 1em 1em 1em 2em;
  }

  span.icon-blue-directions {
    font-size: 2.7em;
  }

}
