/*----- Relatives Info Section -----*/

.pseudoHead{
  display: table;
  padding: 0 1em 0 2em;
}

.pseudoTh{
  display: table-cell;
  font-size: 0.875em;
  text-transform: uppercase;
  padding-bottom: .5em;
  vertical-align: middle;
}

.viewInfo{
  color: $primeColor;
  &:hover{
    color: lighten($primeColor, 15%);
  }
}

.infoItemName{
  color: $primeColor;
}

span.icon-person {
  font-size: 2.3em;
}

.blockTableRowItem{

  @extend %sectionItem;
//  @include box-shadow(2px 2px 0 $borderShadowColor);
//  @include border-radius($borderRadius);
//  border: 1px solid $borderColor_1;
//  background: $primeSecondBackgroundColor;
//  margin-bottom: 0.6em;
//  display: table;
//  padding: 1.04em 0.88em 1.12em;
//  width: 100%;
//  position: relative;
}

.blockTableRowItem{
  background: $primeSecondBackgroundColor;
}

@media screen and (max-width: 767px) {

  span.icon-person {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
  }

  .blockTableRowHidden{
    display: none !important;
  }

  .blockTableRow .pseudoTd{
    padding: 0;
  }

  .infoItemName{
    font-size: 1.2em;
    font-family: $sans-bold;
    line-height: 1.167em;
    margin-right: 1.4em;
    margin-left: 3em;
  }

  .infoItemAddress{
    font-size: 1.2em;
    color: $primeColor;
    line-height: 1.167em;
    margin-right: 1.4em;
    margin-left: 3em;
  }
}

@media screen and (min-width: 768px) {

  .blockTableRow{
    .pseudoTd:first-child {
      padding: 1.5em 1.5em 1.5em 2em;
    }
  }

  .infoItemName{
    font-size: 1.563em;
    width: 25%;
  }

  .infoItemAge{
    font-size: 1.25em;
    font-family: $sans-extrabold;
    width: 10%;
  }

  .infoItemAddress{
    font-size: 1em;
    width: 25%;
  }

  .infoItemContactInfo{
    width: 16%;
  }

  .pseudoTh{
    padding-right: 1.333em;
  }

  .blockTable{
    display: table;
    border-spacing: 0 .6em;
  }
  
  .blockTableRow{
    display: table-row;
  }

  .blockTableRowItem .pseudoTd:first-child {
    @include border-radius($borderRadius 0 0 $borderRadius);
    border-left: 1px solid $borderColor_1;
  }

  .blockTableRowItem .pseudoTd:last-child {
    @include border-radius(0 $borderRadius $borderRadius 0);
    border-right: 1px solid $borderColor_1;
    box-shadow: 2px 2px 0 $borderShadowColor;
  }

  .blockTableRowItem .pseudoTd {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid $borderColor_1;
    border-top: 1px solid $borderColor_1;
    box-shadow: 2px 2px 0 $borderShadowColor;
  }

}

