html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------ Bootstrap-skin ------------------*/
/*------------------ Breadcrumbs ------------------*/
.modalFormEnterBtn, .modalNotRegisterBtn, .feedbackBtn, .footerRightChatBtn {
  color: #ffffff;
  background: #a9ca54;
  display: inline-block;
}
.modalFormEnterBtn:hover, .modalNotRegisterBtn:hover, .feedbackBtn:hover, .footerRightChatBtn:hover {
  color: #e6e6e6;
  background: #9fc441;
}

/*------------------ Fonts ------------------*/
/*------- font-roboto -------*/
@font-face {
  font-family: "Roboto-regular";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?1438474560');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?&1438474560#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1438474560') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1438474560') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg?1438474560') format('svg');
}
@font-face {
  font-family: "Roboto-thin";
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot?1438474560');
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot?&1438474560#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin-webfont.woff?1438474560') format('woff'), url('../fonts/roboto/Roboto-Thin-webfont.ttf?1438474560') format('truetype'), url('../fonts/roboto/Roboto-Thin-webfont.svg?1438474560') format('svg');
}
@font-face {
  font-family: "Roboto-mediun";
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?1438474560');
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?&1438474560#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium-webfont.woff?1438474560') format('woff'), url('../fonts/roboto/Roboto-Medium-webfont.ttf?1438474560') format('truetype'), url('../fonts/roboto/Roboto-Medium-webfont.svg?1438474560') format('svg');
}
@font-face {
  font-family: "Roboto-bold";
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?1438474560');
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?&1438474560#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff?1438474560') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf?1438474560') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg?1438474560') format('svg');
}
/*------- myriad-pro -------*/
@font-face {
  font-family: "Myriadpro-regular";
  src: url('../fonts/myriadpro/myriadpro-regular.eot?1357797998');
  src: url('../fonts/myriadpro/myriadpro-regular.eot?&1357797998#iefix') format('embedded-opentype'), url('../fonts/myriadpro/myriadpro-regular.ttf?1357797998') format('truetype'), url('../fonts/myriadpro/myriadpro-regular.ttf?1357797998') format('truetype'), url('../fonts/myriadpro/myriadpro-regular.svg?1357797998') format('svg');
}
@font-face {
  font-family: "Myriadpro-semibold";
  src: url('../fonts/myriadpro/myriadpro-semibold.eot?1357797998');
  src: url('../fonts/myriadpro/myriadpro-semibold.eot?&1357797998#iefix') format('embedded-opentype'), url('../fonts/myriadpro/myriadpro-semibold.woff?1357797998') format('woff'), url('../fonts/myriadpro/myriadpro-semibold.ttf?1357797998') format('truetype'), url('../fonts/myriadpro/myriadpro-semibold.svg?1357797998') format('svg');
}
/*------- icon-moon -------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/iconMenu/icomoon.eot");
  src: url("../fonts/iconMenu/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/iconMenu/icomoon.woff") format("woff"), url("../fonts/iconMenu/icomoon.ttf") format("truetype"), url("../fonts/iconMenu/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------- icon-font -------*/
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconFont/Font-icon.eot?2ox34p");
  src: url("../fonts/iconFont/Font-icon.eot?#iefix2ox34p") format("embedded-opentype"), url("../fonts/iconFont/Font-icon.woff?2ox34p") format("woff"), url("../fonts/iconFont/Font-icon.ttf?2ox34p") format("truetype"), url("../fonts/iconFont/Font-icon.svg?2ox34p#Font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-previous-slim:before {
  content: "\e63a";
}

.icon-next-slim:before {
  content: "\e63b";
}

.icon-discount .path1:before {
  content: "\e62b";
  color: #444444;
}

.icon-discount .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: #444444;
}

.icon-discount .path3:before {
  content: "\e62d";
  margin-left: -1em;
  color: #fdf2f4;
}

.icon-discount .path4:before {
  content: "\e62e";
  margin-left: -1em;
  color: #fdf2f4;
}

.icon-discount .path5:before {
  content: "\e62f";
  margin-left: -1em;
  color: #fdf2f4;
}

.icon-circle:before {
  content: "\e630";
}

.icon-down-slim:before {
  content: "\e631";
}

.icon-down:before {
  content: "\e632";
}

.icon-up-slim:before {
  content: "\e633";
}

.icon-up:before {
  content: "\e634";
}

.icon-bedclothes-L:before {
  content: "\e635";
}

.icon-bedclothes-M:before {
  content: "\e636";
}

.icon-bedclothes-XL:before {
  content: "\e637";
}

.icon-bedclothes-S:before {
  content: "\e638";
}

.icon-letter:before {
  content: "\e639";
}

.icon-th:before {
  content: "\e600";
}

.icon-th-line:before {
  content: "\e605";
}

.icon-next-full:before {
  content: "\e608";
}

.icon-previous:before {
  content: "\e60a";
}

.icon-next:before {
  content: "\e60b";
}

.icon-down-full:before {
  content: "\e60c";
}

.icon-revers:before {
  content: "\e60d";
}

.icon-bag-full:before {
  content: "\e60f";
}

.icon-printer:before {
  content: "\e610";
}

.icon-chat-full:before {
  content: "\e611";
}

.icon-car:before {
  content: "\e612";
}

.icon-wallet:before {
  content: "\e613";
}

.icon-discount-label:before {
  content: "\e614";
}

.icon-achive:before {
  content: "\e615";
}

.icon-calendar:before {
  content: "\e616";
}

.icon-basket:before {
  content: "\e617";
}

.icon-close:before {
  content: "\e618";
}

.icon-handshake:before {
  content: "\e619";
}

.icon-boomerang:before {
  content: "\e61a";
}

.icon-chat:before {
  content: "\e61b";
}

.icon-search:before {
  content: "\e61c";
}

.icon-enter:before {
  content: "\e61d";
}

.icon-key:before {
  content: "\e61e";
}

.icon-mushroom:before {
  content: "\e61f";
}

.icon-horse:before {
  content: "\e620";
}

.icon-closes:before {
  content: "\e621";
}

.icon-children-bed:before {
  content: "\e622";
}

.icon-teapot:before {
  content: "\e623";
}

.icon-bed:before {
  content: "\e624";
}

.icon-bathub:before {
  content: "\e625";
}

.icon-blinds:before {
  content: "\e626";
}

.icon-lingerie:before {
  content: "\e627";
}

.icon-phone:before {
  content: "\e628";
}

.icon-price:before {
  content: "\e629";
}

.icon-bag:before {
  content: "\e62a";
}

.icon-vkontakte:before {
  content: "\e601";
}

.icon-odnoklassniki:before {
  content: "\e609";
}

.icon-googleplus:before {
  content: "\e602";
}

.icon-facebook:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\e604";
}

.icon-instagram:before {
  content: "\e607";
}

.icon-person:before {
  content: "\e606";
}

.icon-menu:before {
  content: "\e60e";
}

/*------------------ Global ------------------*/
body {
  font-family: Roboto-regular, sans-serif;
  font-size: 16px;
}

a {
  color: #ffffff;
}
a:hover {
  color: #e6e6e6;
  text-decoration: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
a:focus {
  text-decoration: none;
}

input:focus,
textarea:focus {
  border-color: inherit;
}

img {
  width: 100%;
}

.cartBtn {
  border: 2px solid #a9ca54;
  color: #a9ca54;
  font-size: 1.125em;
  display: inline-block;
  background: #ffffff;
  padding: 0.44444em 0.55556em;
}
.cartBtn:hover {
  border: 2px solid #99b84d;
  color: #ffffff;
  background: #99b84d;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/*------------------ Modal ------------------*/
.wrapModalGlobal .form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
  color: #757575;
}
.wrapModalGlobal .form-control {
  border-radius: 0;
}

.modalGlobal {
  background: url("../image/bgPink.png") repeat;
  padding: 0.9375em;
}

.modalTitle {
  color: #b6258f;
  font-size: 1.125em;
}

.modalHeader {
  padding-bottom: 0.9375em;
  border-bottom: 1px solid #eeeeee;
}

.modalBody {
  padding: 1.25em 0;
}

.forgotPasswordLink {
  margin-top: 1em;
  display: inline-block;
  color: #9951bd;
  font-size: 0.875em;
}
.forgotPasswordLink:hover {
  color: #9951bd;
  text-decoration: underline;
}

.modalFormEnter {
  overflow: hidden;
}

.modalFormEnterBtn {
  border: none;
  font-size: 1.125em;
  padding: 0.55556em 0.83333em;
  background: #c0429e;
  float: right;
}
.modalFormEnterBtn:hover {
  background: #9b347f;
}

.modalNotRegister {
  overflow: hidden;
}

.modalNotRegisterText {
  margin-bottom: 1.11111em;
  font-size: 1.125em;
  clear: both;
}

.modalForm {
  margin-bottom: 3.125em;
}

.modalNotRegisterBtn {
  border: none;
  padding: 0.55556em 0.83333em;
  font-size: 1.125em;
  background: #b6258f;
  float: right;
}
.modalNotRegisterBtn:hover {
  background: #8c1c6e;
}

@media (min-width: 768px) {
  .wrapModalGlobal .modal-dialog {
    max-width: 470px;
  }

  .modalTitle {
    font-size: 1.875em;
  }
}
/*------------------ Header ------------------*/
/*------------------ Mobile-menu ------------------*/
/* Common styles of menus */
.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
  margin-right: 100px;
}

.dl-menuwrapper button {
  background: #ccc;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #aaa;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
}

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

/* Colors for demos */
/* Demo 1 */
.demo-1 .dl-menuwrapper button {
  background: #c62860;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
  background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
  background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771;
}

.dl-menuwrapper button {
  position: absolute;
  height: 46px;
  background: none;
  cursor: pointer;
}
.dl-menuwrapper button.dl-active {
  background: none;
}

.dl-menuwrapper .dl-menu {
  min-width: 290px;
  margin-top: 50px;
}
.dl-menuwrapper:first-child {
  margin-right: 0;
  position: relative;
  z-index: 100;
}

.dl-menuwrapper li > a:after,
.dl-menuwrapper li.dl-back:after {
  color: #c0429e;
}

.mobileMenuItem,
.mobileSubMenuItem {
  border-bottom: 1px solid #ffffff;
  background: #debcf8;
}
.mobileMenuItem:last-child,
.mobileSubMenuItem:last-child {
  border-bottom: none;
}

.dl-back {
  background: #d675bc;
}

.dl-menuwrapper button:hover {
  background: none;
}

.burger {
  width: 33px;
  cursor: pointer;
}
.burger:hover .burger-brick {
  background: #91b338;
}

.dl-active .burger {
  margin-top: -14px;
}

.burger-brick {
  height: 4px;
  background: #a9ca54;
  margin-top: 6px;
  -webkit-transition: 0.8s ease-out;
  -moz-transition: 0.8s ease-out;
  -ms-transition: 0.8s ease-out;
  -o-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}
.burger-brick:first-child {
  margin-top: 0;
}

.dl-active .burger-brick:first-child {
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
  margin-top: 14px;
}

.dl-active .burger-brick:last-child {
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  margin-top: -14px;
}

.dl-active .middle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/*------------------ Header-top ------------------*/
.mainHeader {
  border-bottom: 1px solid #9A008D;
  margin-bottom: 0.9375em;
}
@media (min-width: 992px) {
  .mainHeader {
    border-bottom: none;
  }
}

.wrapHeaderTop {
  background: #9951bd url("../image/bgPurple.png") repeat-x;
}

.topMenuList {
  overflow: hidden;
}

.topMenuItem {
  float: left;
}
.topMenuItem:first-child .topMenuLink {
  padding-left: 0;
}

.topMenuLink {
  color: #ffffff;
  padding: 0.9375em 0.3125em;
  display: inline-block;
}

.enterToSite {
  text-align: right;
}
.enterToSite [class^="icon-"] {
  font-size: 1.5625em;
  line-height: 1.875em;
  color: #a9ca54;
  margin-right: 0.625em;
}
.enterToSite [class^="icon-"]:hover {
  color: #91b338;
}

.logIn,
.singUp {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
}

.singUp [class^="icon-"] {
  margin-right: 0;
}

/*------------------ Header-middle ------------------*/
.headerMiddle {
  margin-bottom: 0.9375em;
}

.middleContact {
  margin-left: 0.625em;
  margin-bottom: 0.9375em;
}

.middleContactIcon [class^="icon-"] {
  font-size: 2.8125em;
  color: #debcf8;
  margin-left: -0.22222em;
  line-height: 2.25em;
}

.middleContactPhone {
  display: block;
  color: #444444;
  font-size: 1.5em;
  margin-bottom: 0.20833em;
}
.middleContactPhone:hover {
  color: #444444;
}

.middleContactPhoneCode {
  color: #9951bd;
  font-size: 0.75em;
}

.feedbackBtn {
  padding: 0.625em 1.25em;
  font-size: 1.125em;
  border: none;
}

.middleContentRightTop {
  overflow: hidden;
  padding: 0.625em 0 0.9375em;
}

.headerLogo {
  text-align: right;
  margin-top: 1.5625em;
}

.headerLogoImage {
  max-width: 330px;
}

.headerUser {
  text-align: right;
  color: #757575;
  margin-bottom: 0.625em;
}

.headerUserLink {
  color: #b6258f;
}
.headerUserLink:hover {
  color: #8c1c6e;
  text-decoration: underline;
}

.headerInfoCart {
  text-align: right;
}

.infoCartIcon {
  margin-bottom: 1.25em;
}
.infoCartIcon [class^="icon-"] {
  font-size: 2.5em;
  color: #debcf8;
}

.infoCartTitleLink {
  color: #b6258f;
  font-size: 1em;
  margin-bottom: 0.27778em;
}
.infoCartTitleLink:hover {
  color: #8c1c6e;
  text-decoration: underline;
}

.infoCart {
  color: #9951bd;
  font-size: 1.125em;
  margin-bottom: 0.27778em;
}

.infoCartNumber {
  color: #505050;
  font-size: 1.33333em;
}

.headerSearch {
  position: relative;
}
.headerSearch .form-control {
  border: 0;
  height: 2.75em;
  line-height: 1.375em;
}
.headerSearch .input-group {
  border: 3px solid #9a008d;
}
.headerSearch .form-control::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 1.125em;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.headerSearch .form-control::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.headerSearch .form-control:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.headerSearch .form-control:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.headerSearch .form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.headerSearch .form-control:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.headerSearch .form-control:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.headerSearch .form-control:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.headerSearch .btn-default {
  border: none;
}
.headerSearch .btn-default:hover {
  background: none;
}
.headerSearch .btn-default:focus {
  background: none;
  outline: none;
}
.headerSearch .btn-default:active {
  background: none;
}
.headerSearch .input-group-btn [class^="icon-"] {
  font-size: 1.625em;
  color: #a9ca54;
  vertical-align: middle;
}
.headerSearch .input-group-btn [class^="icon-"]:hover {
  color: #91b338;
}

.headerSearchResult {
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  background: #ffffff;
  border: 3px solid #a1a1a1;
  box-sizing: border-box;
  padding: 0.9375em;
}

.headerSearch:hover .headerSearchResult {
  display: block;
}

.closeIcon {
  text-align: right;
  margin-bottom: 0.3125em;
}
.closeIcon [class^="icon-"] {
  color: #a1a1a1;
  cursor: pointer;
}
.closeIcon [class^="icon-"]:hover {
  color: #888888;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.wrapSearchResultImage {
  float: left;
  height: 5.9375em;
  width: 23%;
  margin-right: 2%;
}
.wrapSearchResultImage .searchResultImage {
  max-width: 10em;
  width: 100%;
  height: 5.9375em;
}

.searchResult {
  overflow: hidden;
  border-bottom: 1px solid #debcf8;
  display: block;
  padding: 0.625em;
}
.searchResult:hover {
  background: #eeeeee;
}

.resultImageInfoTitle {
  color: #505050;
  font-size: 1em;
  margin-bottom: 0.3125em;
}

.searchResultImageInfo {
  float: left;
  width: 75%;
}

.resultImageInfoArticle {
  color: #757575;
  font-size: 0.75em;
}

.resultImageInfoPrice {
  color: #9951bd;
  font-size: 0.875em;
  margin-top: 1.42857em;
}

.wrapSearchResultBtn {
  text-align: center;
  padding-top: 0.625em;
}

.searchResultBtn {
  color: #b6258f;
  padding: 0.625em;
  font-size: 1.125em;
  background: #d3d3d3;
  display: inline-block;
}
.searchResultBtn:hover {
  background: #bababa;
  color: #b6258f;
}
.searchResultBtn [class^="icon-"] {
  display: inline-block;
  position: relative;
  top: 2px;
}

/*------------------ Header-bottom ------------------*/
.wrapHeaderBottom {
  background: #debcf8 url("../image/bgPink.png") repeat-x;
}

.headerCategoryItem {
  width: 10%;
  float: left;
  text-align: center;
  position: relative;
}

.headerCategoryLink {
  display: inline-block;
  padding: 0.9375em 0;
  width: 100%;
  min-height: 8.75em;
}
.headerCategoryLink span {
  display: block;
}
.headerCategoryLink [class^="icon-"] {
  font-size: 4em;
  margin-bottom: 0.15625em;
}
.headerCategoryLink:hover {
  background: #b6258f;
  color: #ffffff;
}
.headerCategoryLink:hover .headerCategoryLinkTitle {
  color: #ffffff;
}
.headerCategoryLink .headerCategoryLinkTitle {
  margin: 0 0.3125em;
  color: #b6258f;
  line-height: 1.22222em;
}
@media (min-width: 1200px) {
  .headerCategoryLink .headerCategoryLinkTitle {
    margin: 0 1.125em;
  }
}

.headerCategorySubList {
  display: none;
}

.headerCategoryItem:nth-child(n+6) .headerCategorySubList {
  right: 0;
}
.headerCategoryItem:hover > .headerCategorySubList {
  display: block;
}

.headerCategorySubList {
  width: 30.55556em;
  text-align: left;
  padding: 1.11111em;
  border: 1px solid #b6258f;
  box-sizing: border-box;
  background: #ffffff;
  position: absolute;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  z-index: 10;
}

.headerCategorySubListLeft {
  width: 50%;
  float: left;
}

.headerCategorySubListRight {
  width: 50%;
}

.headerCategorySubItem {
  margin-bottom: 0.625em;
}

.headerCategorySubLink {
  font-size: 1.125em;
  padding: 0 0.27778em;
  color: #444444;
}
.headerCategorySubLink:hover {
  background: #debcf8;
  color: #444444;
}

.headerCategoryItem1 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/bedroom.png") right no-repeat;
}

.headerCategoryItem2 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/kitchen.png") right no-repeat;
}

.headerCategoryItem3 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/bathroom.png") right no-repeat;
}

.headerCategoryItem4 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/kidsroom.png") right no-repeat;
}

.headerCategoryItem5 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/closes.png") right no-repeat;
}

.headerCategoryItem6 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/childworld.png") right no-repeat;
}

.headerCategoryItem7 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/home.png") right no-repeat;
}

.headerCategoryItem8 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/underwear.png") right no-repeat;
}

.headerCategoryItem9 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/rest.png") right no-repeat;
}

.headerCategoryItem10 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/forhotel.png") right no-repeat;
}

.headerCategoryItem1 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/bedroom.png") right no-repeat;
}

.headerCategoryItem1 .headerCategorySubList {
  background: #ffffff url("../image/categoryBg/bedroom.png") right no-repeat;
}

@media (max-width: 992px) {
  .middleContactIcon,
  .infoCartIcon {
    display: none;
  }

  .infoCart {
    font-size: 1em;
  }

  .headerLogo {
    margin-top: 0;
  }

  .headerMiddleContentLeft {
    margin-top: 1.25em;
  }

  .wrapSearchResultImage {
    width: 33%;
  }

  .searchResultImageInfo {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .wrapSearchResultImage {
    display: none;
  }

  .searchResultImageInfo {
    width: 100%;
  }

  .headerMiddleContentLeft {
    margin-top: 1em;
    overflow: hidden;
  }

  .middleContact {
    margin-left: 0;
    float: left;
  }

  .middleContactPhone {
    font-size: 1em;
  }

  .headerMiddleContentLeft .feedback {
    float: right;
  }

  .feedbackBtn {
    font-size: 1em;
  }

  .headerLogo {
    text-align: left;
    margin-top: 0;
  }

  .headerLogoImage {
    max-width: 12.5em;
  }

  .infoCartTitleLink {
    margin-bottom: 0.3125em;
  }

  .infoCartNumber {
    font-size: 1em;
  }
}
/*------------------ Banners and slider ------------------*/
.homePageSlider {
  margin-bottom: 1.875em;
}

.banners {
  margin-bottom: 3.75em;
}
@media (max-width: 768px) {
  .banners {
    margin-bottom: 1.875em;
  }
}

.banner {
  display: block;
}
@media (max-width: 768px) {
  .banner {
    margin-bottom: 1em;
  }
}

/*------------------ Special Offers ------------------*/
.wrapSpecialOffers {
  margin-bottom: 3.125em;
}

.wrapTitleDecor {
  overflow: hidden;
  text-align: center;
  margin-bottom: 2.5em;
}
.wrapTitleDecor .specialOffersTitle {
  display: inline-block;
  position: relative;
  font-family: Roboto-thin, sans-serif;
  font-size: 2.25em;
  padding: 0 0.72222em;
}
@media (max-width: 768px) {
  .wrapTitleDecor .specialOffersTitle {
    font-size: 1.875em;
  }
}
.wrapTitleDecor .specialOffersTitle:before, .wrapTitleDecor .specialOffersTitle:after {
  content: "";
  display: block;
  width: 3000px;
  height: 0.75em;
  background: url("../image/decor/decor_2.png") -5px repeat-x;
  position: absolute;
  top: 0.13889em;
}
@media (max-width: 768px) {
  .wrapTitleDecor .specialOffersTitle:before, .wrapTitleDecor .specialOffersTitle:after {
    height: 0.86667em;
  }
}
.wrapTitleDecor .specialOffersTitle:after {
  right: 100%;
}
.wrapTitleDecor .specialOffersTitle:before {
  left: 100%;
}

.wrapOfferCarousel .thumbnail {
  margin-bottom: 0;
  border: none;
  padding: 0;
}

.carousel-control {
  top: 30%;
  bottom: auto;
  width: 1.2em;
  height: 2.5em;
  text-shadow: none;
  opacity: 1;
  background: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}
.carousel-control [class^="icon-"] {
  color: #757575;
  font-size: 2.5em;
  position: relative;
  line-height: 1em;
}
.carousel-control:hover {
  background: #debcf8;
}
.carousel-control:hover [class^="icon-"] {
  color: #ffffff;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.carousel-control:hover {
  color: #d9534f;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.carousel-control.right {
  left: auto;
  right: 1px;
}
.carousel-control.right [class^="icon-"] {
  right: 0.3em;
}

.carousel-control.left {
  right: auto;
  left: 1px;
}
.carousel-control.left [class^="icon-"] {
  right: 0.3em;
}

.specialOffer {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.specialOffer:hover {
  border: 1px solid #d675bc;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
@media (max-width: 768px) {
  .specialOffer {
    margin: 0 0.9375em 1.5625em;
  }
}

.specialOfferImageLink {
  display: block;
  position: relative;
}
.specialOfferImageLink .fastView {
  width: 12.5em;
  position: absolute;
  color: #ffffff;
  font-size: 1.125em;
  background: rgba(182, 36, 142, 0.5);
  padding: 0.27778em 0.83333em;
  top: 40%;
  left: calc(50% - 100px);
  display: none;
  text-align: center;
}
@media (max-width: 992px) {
  .specialOfferImageLink .fastView {
    width: 10em;
    font-size: 1em;
    left: calc(50% - 80px);
  }
}
.specialOfferImageLink:hover .fastView {
  display: block;
}
@media (max-width: 768px) {
  .specialOfferImageLink {
    text-align: center;
  }
}

.specialOfferImage {
  max-width: 370px !important;
}

.specialOfferInfo {
  position: relative;
  padding: 0.625em;
}
.specialOfferInfo .cartBtn {
  position: absolute;
  bottom: 0.3125em;
  right: 0.3125em;
  line-height: 1em;
}

.specialOfferTitleLink {
  font-size: 1em;
  color: #444444;
}
.specialOfferTitleLink:hover {
  color: #444444;
  text-decoration: underline;
}

.specialOfferType {
  font-size: 0.875em;
  color: #a1a1a1;
  margin-bottom: 1em;
}

.specialOfferPrice {
  font-family: Roboto-bold, sans-serif;
  color: #9951bd;
}

/*------------------ Novelty ------------------*/
.wrapNovelty {
  background: #d675bc url("../image/decor/decor_1.png") top repeat-x;
  padding: 2.8125em 0 2.5em;
}

.novaSingle {
  overflow: hidden;
  background: #debcf8;
  position: relative;
  max-width: 300px;
  margin: 0 auto 0.9375em;
}
.novaSingle .cartBtn {
  line-height: 1em;
}

.noveltyTitle, .newsTitle {
  font-size: 2.25em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.25em;
}

.novaSingleImage {
  position: relative;
  margin-bottom: -2px;
}

.novaSingleTitlLink {
  margin-bottom: 1em;
  display: block;
  color: #444444;
}
.novaSingleTitlLink:hover {
  color: #444444;
  text-decoration: underline;
}

.novaPrice {
  position: absolute;
  top: 0;
  right: 0;
  background: #9951bd;
  color: #ffffff;
  font-size: 1.125em;
  padding: 0.44444em 0.44444em 0.44444em 0.66667em;
}

.novaSingleInfo {
  min-height: 100%;
  padding: 0.625em;
}

.novaSingleTitleLink {
  color: #444444;
}
.novaSingleTitleLink:hover {
  color: #444444;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .novaSingle {
    max-width: 100%;
    margin: 0 0 0.9375em;
  }
}
@media (min-width: 992px) {
  .novaSingleImage {
    width: 65%;
    float: left;
  }

  .novaSingleInfo {
    float: left;
    width: 35%;
  }

  .novaSingle .cartBtn {
    position: absolute;
    bottom: 0.625em;
    right: 0.625em;
    line-height: 1em;
    z-index: 100;
  }
}
/*------------------ News ------------------*/
.wrapNews {
  background: #debcf8 url("../image/bgPink.png") repeat;
  padding: 2.8125em 0 2.5em;
}

.newsSingle {
  padding: 0.9375em;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 0.9375em;
}

.newsInfoDate {
  color: #b6258f;
  border-bottom: 1px solid #b6258f;
  font-size: 1.125em;
  line-height: 1.625em;
  margin-bottom: 0.83333em;
}

.newsInfoTitleLink {
  font-family: Myriadpro-semibold, sans-serif;
  font-size: 1.125em;
  color: #9951bd;
  margin-bottom: 1em;
  display: inline-block;
}
.newsInfoTitleLink:hover {
  color: #9951bd;
  text-decoration: underline;
}

.newsInfoText {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 64.8px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .newsSingle {
    max-width: 100%;
    min-height: 360px;
    margin: 0 0 0.9375em;
  }
}
@media (min-width: 992px) {
  .newsSingle {
    min-height: 390px;
  }
}
@media (min-width: 1200px) {
  .newsSingle {
    min-height: 440px;
  }
}
/*------------------ Footer ------------------*/
.mainFooter {
  background: url("../image/footerBg.png") bottom right no-repeat;
}

.footer {
  padding: 2.1875em 0;
  font-family: Myriadpro-regular, sans-serif;
}

.footerLeftInfo {
  margin: 0 0 1.25em 2.1875em;
}

.footerLeftTitle {
  font-size: 1.5em;
  color: #b6258f;
  position: relative;
  margin-bottom: 0.20833em;
}
.footerLeftTitle [class^="icon-"] {
  color: #debcf8;
  position: absolute;
  font-size: 1.875em;
  left: -0.88889em;
}

.footerLeftPhone {
  display: block;
  color: #444444;
  font-size: 1.5em;
  line-height: 1.25em;
}
.footerLeftPhone:hover {
  color: #444444;
}

.footerLeftSchedule {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-bottom: 1.78571em;
}

.footerLeftMail {
  position: relative;
}
.footerLeftMail [class^="icon-"] {
  color: #debcf8;
  position: absolute;
  font-size: 1.66667em;
  left: -1.16667em;
  top: -0.16667em;
}

.footerLeftMailLink {
  font-size: 1.125em;
  display: block;
  color: #b6258f;
}
.footerLeftMailLink:hover {
  color: #8c1c6e;
}

.footerMiddleList {
  margin-left: 3.75em;
}

.footerMiddleItem {
  position: relative;
  margin-bottom: 1.875em;
}
.footerMiddleItem [class^="icon-"] {
  color: #debcf8;
  position: absolute;
  font-size: 3.125em;
  left: -1.1em;
  top: -0.24em;
}
.footerMiddleItem [class^="icon-boomerang"] {
  font-size: 2.25em;
  left: -1.25em;
}

.footerMiddleLink {
  font-size: 1.5em;
  display: block;
  color: #b6258f;
}
.footerMiddleLink:hover {
  color: #8c1c6e;
}

.footerMiddleFinances {
  overflow: hidden;
  opacity: .5;
  margin-left: 3.125em;
}

.footerMiddleFinancesLink {
  float: left;
  width: 50%;
  height: 2.75em;
  margin-bottom: 0.625em;
}
.footerMiddleFinancesLink img {
  max-width: 100px;
}
.footerMiddleFinancesLink:nth-child(2n) img {
  margin-top: 0.75em;
}

.footerRightSocialTitle {
  font-size: 1.5em;
  margin-bottom: 0.625em;
}

.footerRightSocialItem {
  display: inline-block;
}

.footerRightSocialLink {
  width: 2.9375em;
  height: 2.9375em;
  background: #9951bd;
  border-radius: 2.9375em;
  display: block;
  text-align: center;
}
.footerRightSocialLink [class^="icon-"] {
  font-size: 1.625em;
  line-height: 1.69231em;
}
.footerRightSocialLink:hover {
  opacity: 0.7;
}
@media (min-width: 1200px) {
  .footerRightSocialLink {
    margin-right: 0.9375em;
  }
}

.footerRightSocialList {
  margin-bottom: 1.5625em;
}

.footerRightChat {
  margin-bottom: 1.5625em;
}
.footerRightChat [class^="icon-"] {
  color: #debcf8;
  font-size: 2.5em;
  vertical-align: middle;
  margin-right: 0.125em;
}

.footerRightChatBtn {
  width: 194px;
  font-size: 1.125em;
  display: inline-block;
  border: none;
  padding: 0.625em 0;
}

.footerRightSubscribeTitle {
  font-size: 1.5em;
  color: #b6258f;
  margin-bottom: 0.3125em;
}

.footerRightSubscribeForm {
  border: 3px solid #a9ca54;
}
.footerRightSubscribeForm .form-control {
  border: none;
  height: 3.375em;
  line-height: 1.6875em;
}
.footerRightSubscribeForm .btn-default {
  border: none;
  background: none;
}
.footerRightSubscribeForm .input-group-btn {
  background: #a9ca54;
}
.footerRightSubscribeForm .form-control::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 1.125em;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.footerRightSubscribeForm .form-control::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.footerRightSubscribeForm .form-control:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.footerRightSubscribeForm .form-control:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #444444;
  font-family: Roboto-thin, sans-serif;
}
.footerRightSubscribeForm .form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footerRightSubscribeForm .form-control:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footerRightSubscribeForm .form-control:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footerRightSubscribeForm .form-control:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footerRightSubscribeForm .btn-default {
  border: none;
}
.footerRightSubscribeForm .btn-default:hover {
  background: none;
}
.footerRightSubscribeForm .btn-default:focus {
  background: none;
  outline: none;
}
.footerRightSubscribeForm .btn-default:active {
  background: none;
}
.footerRightSubscribeForm [class^="icon-"] {
  color: #ffffff;
  font-size: 2.5em;
  vertical-align: middle;
  margin-left: 0.125em;
}

@media (max-width: 768px) {
  .mainFooter {
    background-position: bottom center;
  }

  .footerLeft {
    margin-bottom: 1.875em;
    text-align: center;
  }
  .footerLeft .footerLeftInfo {
    margin-left: 0;
  }
  .footerLeft [class^="icon-"] {
    display: none;
  }

  .footerLeftTitle {
    font-size: 1.5em;
  }

  .footerMiddle {
    text-align: center;
    margin-bottom: 1.875em;
  }

  .footerMiddleItem [class^="icon-"] {
    display: none;
  }

  .footerMiddleLink {
    font-size: 1.5em;
  }

  .footerMiddleList {
    margin-left: 0;
  }

  .footerMiddleFinances {
    margin-left: 0;
  }

  .footerRight {
    text-align: center;
  }

  .footerRightSocialTitle {
    font-size: 1.5em;
  }

  .footerRightSubscribeTitle {
    font-size: 1.5em;
  }

  .footerRightSocialLink {
    width: 2.9375em;
    height: 2.9375em;
    border-radius: 2.9375em;
  }
  .footerRightSocialLink [class^="icon-"] {
    font-size: 1.625em;
    line-height: 1.69231em;
  }

  .footerRightChat [class^="icon-"] {
    display: block;
  }
}
@media (max-width: 992px) {
  .footerMiddleLink {
    font-size: 1.125em;
  }

  .footerLeftTitle {
    font-size: 1.125em;
  }

  .footerRightSocialTitle {
    font-size: 1.125em;
  }

  .footerRightSubscribeTitle {
    font-size: 1.125em;
  }

  .footerRightSocialLink {
    width: 2.3125em;
    height: 2.3125em;
    border-radius: 2.3125em;
  }
  .footerRightSocialLink [class^="icon-"] {
    font-size: 1.25em;
    line-height: 1.7em;
  }

  .footerRightChat [class^="icon-"] {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
