//-------------------------
// Main styles
//-------------------------

html {
  font-size: 10px;
}

html, body {
  min-height: 100%;
}

body {
  color: $textColor;
  font-family: $robotoRegular;
  font-size: 1.6rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $textColor;
  text-decoration: none;

  &:hover {
    color: $safetyOrange;
    text-decoration: none;
  }

  &:focus,
  &:active{
    outline: none;
  }
}

img{
  width: 100%;
}

input,
textarea {
	outline: none;

  &:focus,
  &:active{
    outline: none;
  }
}

button{
  &:focus,
  &:active{
    outline: none;
  }
}