//-------------------------
// Form
//-------------------------

.form-wrap {
  border: .1rem solid $whiteSmoke;
  padding: 5rem 2rem;
  margin-bottom: 3rem;
}

.form-global {
  .form-label {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 4rem;
    position: relative;

    .fa {
      top: 5rem;
      position: absolute;
      right: 1rem;
    }
  }

  .fa {
    color: $solitude;
    font-size: 2rem;
  }

  .form-control{
    @include placeholder {
      color: darken($solitude, 10%);
    }
    border: .1rem solid $solitude;
    box-shadow: none;
    height: 4.5rem;

    &.error {
      border: .1rem solid $burntSienna;
    }
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-selection--single {
    @include placeholder {
      color: darken($solitude, 10%);
    }
    border: .1rem solid $solitude;
    border-radius: 0 .4rem .4rem 0;
    height: 4.5rem;
    font-size: 1.4rem;
  }

  .select2-selection__rendered {
    line-height: 2 !important;
    padding: 8px 12px;
  }

  .custom-checkbox {
    padding: 0;
    margin-bottom: 5rem;

    @media all and (max-width: $mdScreen) {
      margin-bottom: 2rem;
    }
  }

  .custom-checkbox-text {
    color: $trout;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .forgot-link {
    color: $trout;
    font-size: 1.4rem;

    &:hover {
      color: $viking;
      text-decoration: underline;
    }
  }

  .forgot-link-wrap {
    float: left;

    .fa {
      position: relative;
      bottom: -.15rem;
    }

    @media all and (max-width: $mdScreen) {
      margin-bottom: 2rem;
    }
  }

  .btn-blue {
    float: right;

    @media all and (max-width: $mdScreen) {
      width: 100%;
    }
  }

  span.error {
    bottom: -2rem;
    color: $burntSienna;
    font-size: 1.4rem;
    left: 0;
    margin-left: 0rem;
    position: absolute;
  }

  .form-control {
    &.error {
      .custom-checkbox-text {
        color: $burntSienna;
      }
    }
  }

  option {
    color: darken($solitude, 10%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .form-control-textarea{
    border-radius: 0;
    height: 15rem;
    resize: none;
  }
  
  .form-group-textarea-bottom,
  .form-group-textarea-top{
    background: $solitudeSecond;
    border: .1rem solid $solitude;
    border-top: none;
    height: 4rem;
  }

  .form-group-textarea-top{
    border-top: .1rem solid $solitude;
    border-bottom: none;
  }

  .form-group-textarea-top{
    @media all and (max-width: $mdScreen) {
      height: 100%;
    }
  }
}

.custom-checkbox {
  padding: .5rem 2rem;

  [type='checkbox'] {
    position: absolute;
    visibility: hidden;
    z-index: -10;

    &.error {
      ~ .custom-checkbox-wrap {
        .custom-checkbox-text {
          color: $burntSienna;
        }
      }
    }
  }

  [type='checkbox']:checked {
    ~ .custom-checkbox-wrap {
      .custom-checkbox-square {
        background: $viking;
      }
    }
  }

  .custom-checkbox-square {
    border: .2rem solid $ghost;
    display: inline-block;
    height: 1.5rem;
    vertical-align: bottom;
    width: 1.5rem;
  }
}

.custom-radio-button {

  [type='radio'] {
    display: none;
  }

  [type='radio']:checked {
    ~ .custom-radio-button-wrap {
      .custom-radio-button-circle {
        background: $viking;
      }
    }
  }

  .custom-radio-button-circle {
    border: .2rem solid $ghost;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    height: 1.6rem;
    position: relative;
    vertical-align: bottom;
    width: 1.6rem;
  }

}
