//-------------------------
// Form
//-------------------------

.form-wrap {
  border: .1rem solid $whiteSmoke;
  padding: 5rem 2rem;
  margin-bottom: 3rem;
}

.form-global {
  .form-label {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 4rem;
    position: relative;

    .fa {
      top: 5rem;
      position: absolute;
      right: 1rem;
    }
  }

  .fa {
    color: $solitude;
    font-size: 2rem;
  }

  .form-control {
    @include placeholder {
      color: darken($solitude, 10%);
    }
    border: .1rem solid $solitude;
    box-shadow: none;
    height: 4.5rem;

    &.error {
      border: .1rem solid $burntSienna;
    }
  }

  .custom-checkbox {
    padding: 0;
    margin-bottom: 5rem;

    @media all and (max-width: $mdScreen) {
      margin-bottom: 2rem;
    }
  }

  .custom-checkbox-text {
    color: $trout;
    font-size: 1.4rem;
  }

  .forgot-link {
    color: $trout;
    font-size: 1.4rem;

    &:hover {
      color: $viking;
      text-decoration: underline;
    }
  }

  .forgot-link-wrap {
    float: left;

    .fa {
      position: relative;
      bottom: -.15rem;
    }

    @media all and (max-width: $mdScreen) {
      margin-bottom: 2rem;
    }
  }

  .btn-blue {
    float: right;

    @media all and (max-width: $mdScreen) {
      width: 100%;
    }
  }

  span.error {
    bottom: -2rem;
    color: $burntSienna;
    font-size: 1.4rem;
    margin-left: 0rem;
    position: absolute;
  }
}
