//-------------------------
// Global
//-------------------------

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: $openSansRegular;
  font-size: 1.8rem;
  margin-bottom: 25rem;

  @media all and (max-width: $smScreen) {
    margin-bottom: 65rem;
  }

  @media all and (min-width: $smScreen) and (max-width: $mdScreen) {
    margin-bottom: 45rem;
  }
}

input,
select {
  &:focus,
  &:active {
    outline: none !important;
  }
}

.btn {
  border-radius: 0;
  color: $white;
  font-family: $openSansBold;
  font-size: 1.6rem;
  padding: 1rem 4rem;
}

.btn-blue {
  background: $viking;
  outline: none;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus{
    color: $white;
    background: darken($viking, 5%);
  }
}