//-------------------------
// Variables
//-------------------------

// Screens
//-------------------------

$smScreen: 768px;
$mdScreen: 992px;
$lgScreen: 1200px;
$xlgScreen: 1368px;

// Colors
//-------------------------

$viking: #56c2cf;

$black: #000;
$codGrey: #2e3336;
$vulcan: #373b3f;
$trout: #4b5157;
$shuttleGrey: #5c6874;
$stormGrey: #767c83;
$gray: #828282;
$aluminium: #848a94;
$nobel: #999999;
$heather: #b7bec9;
$ghost: #c5c5c5;
$linkWater: #cfd6de;
$solitude: #dee7ed;
$solitudeLight: #f9fbfc;
$solitudeSecond: #f6f8fa;
$whiteSmoke: #ebebeb;
$white: #fff;

$burntSienna: #ef5560;

// Fonts
//-------------------------

$openSansRegular: 'Open Sans', Helvetica, sans-serif;
$openSansBold: 'Open Sans Bold', Helvetica, sans-serif;
$fontAwesome: 'FontAwesome';




