//-------------------------
// Content-register
//-------------------------

.form-title {
  font-family: $openSansBold;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.form-sub-title {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.form-forgot-password {
  .form-group {
    margin: 2rem 0;
  }
}