//-------------------------
// Header
//-------------------------

.header-top {
  border-bottom: .1rem solid $ghost;
  padding: 1.5rem 0;

  @media all and (max-width: $smScreen) {
    display: none;
  }
}

.social-item {
  display: inline-block;
  margin-right: 1rem;
}

.social-link {
  color: $linkWater;

  &:hover {
    color: $viking;
    text-decoration: none;
  }
}

.header-top-nav {
  float: left;
}

.header-top-nav-item {
  border-right: .1rem solid $ghost;
  display: inline-block;
  line-height: 1.2;
  padding: 0 1rem;

  &:last-child {
    border-right: none;
  }
}

.header-top-nav-link {
  color: $heather;
  display: inline-block;
  font-size: 1.4rem;

  &:hover {
    color: $heather;
  }
}

.switch-language {
  float: right;
  position: relative;
  right: 4.5rem;

  .navbar-nav {
    background: $solitudeSecond;
    padding: 0.75rem;
    position: absolute;
    top: -0.75rem;
    width: 5rem;
  }

  .dropdown-toggle {
    color: $heather;
    font-size: 1.4rem;
    padding: 0;

    &:hover {
      background: none;
    }
  }

  .dropdown-menu {
    right: 0;
    left: inherit;
  }
}

.header-logo {
  height: 4rem;
  width: 100%;
  max-width: 20rem;
}

.header-middle {
  padding: 3rem 0 1rem;
  text-transform: uppercase;

  .navbar-brand {
    padding: 0 1.5rem;
  }

  .navbar-default {
    background: none;
    border: none;

    .header-middle-nav-link {
      color: $trout;
      font-family: $openSansBold;
      font-size: 1.6rem;

      &:hover {
        color: $viking;
      }
    }

    .open {
      .header-middle-nav-link {
        color: $white;
        background: $viking;

        &:hover,
        &:focus {
          color: $white;
          background: $viking;
        }
      }
    }
  }
}

.cart-product-number {
  background: $viking;
  border-radius: 50%;
  color: $white;
  font-family: $openSansRegular;
  padding: .25rem 1rem;
}

.header-button-enter {
  border: .1rem solid $heather;
  border-radius: 5rem;
}

.header-bottom {
  background: url("../images/header-bg.jpg") no-repeat/cover;
  padding: 7rem 5rem;
  margin-bottom: 5rem;

  @media all and (max-width: $mdScreen) {
    padding: 7rem 1rem;
  }

  @media all and (max-width: $smScreen) {
    padding: 7rem 0;
  }

  .dropdown-menu {
    &::before,
    &::after {
      content: '';
      display: inline-block;
      border-top: 0;
      position: absolute;
    }

    &::before {
      border-left: .7rem solid transparent;
      border-right: .7rem solid transparent;
      border-bottom: .7rem solid #999;
      border-bottom-color: rgba(0, 0, 0, .2);
      left: .6rem;
      top: -.7rem;
    }

    &::after {
      border-left: .6rem solid transparent;
      border-right: .6rem solid transparent;
      border-bottom: .6rem solid #fff;
      left: .7rem;
      top: -.6rem;
    }
  }
}

.header-bottom-text {
  color: $white;
  text-align: center;
}

.site-slogan {
  font-family: $openSansBold;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.header-bottom-text {
  margin-bottom: 5rem;
}

.site-sub-slogan {
  -webkit-font-smoothing: antialiased;
}

.header-bottom-search {
  @media all and (max-width: $smScreen) {
    max-width: 32rem;
    margin: 0 auto;
  }
}

.header-products-offer {
  width: 21%;
}

.header-products-search {
  width: 35%;

  @media all and (max-width: $smScreen) {
    width: 79%;
  }
}

.header-region {
  width: 15%;

  .dropdown-menu {
    width: 75rem;
    left: inherit;
    padding-bottom: 2rem;
    right: -60%;

    &::before {
      left: 48rem;
      top: -.7rem;
    }

    &::after {
      left: 48.1rem;
      top: -.6rem;
    }

    @media all and (max-width: $lgScreen) {
      right: -165%;
    }

    @media all and (max-width: $mdScreen) {
      right: -195%;
    }
  }
}

.header-date {
  color: $trout;
  position: relative;
  width: 16%;

  .fa {
    left: 1rem;
    position: absolute;
    top: 1.6rem;
  }
}

.header-form-button {
  width: 13%;

  @media all and (max-width: $smScreen) {
    width: 21%;
  }
}

.header-search-item {
  float: left;
  border-left: .1rem solid $ghost;

  &:first-child,
  &:last-child {
    border-left: none;
  }

  .btn-default {
    border-radius: 0;
    border: none;
    color: $trout;
    height: 5rem;
    padding: 1.5rem 1rem;
    position: relative;
    text-align: left;
    width: 100%;

    .caret {
      position: absolute;
      right: 1rem;
      top: 2.5rem;
    }
  }
}

.header-date-input,
.header-search-input {
  @include placeholder {
    color: $trout;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  border: none;
  color: $trout;
  font-size: 1.4rem;
  height: 5rem;
  padding: 1.5rem 1rem;
  width: 100%;
}

.header-date-input {
  padding-left: 3.5rem;
}

.header-form-button {
  color: $white;
  background: $viking;
  border: none;
  font-family: $openSansBold;
  font-size: 1.4rem;
  padding: 1.5rem 1rem 1.6rem;
  height: 5rem;

  &:hover {
    background: darken($viking, 5%);
  }
}

.header-index-input {
  @include placeholder {
    color: $trout;
    line-height: 1.4;
  }
  border: none;
  padding: 1.5rem 1rem;
  width: 100%;
}

.header-region-separator {
  text-align: center;
  padding: 2rem 1rem;
}

.custom-checkbox {
  padding: .5rem 2rem;

  [type='checkbox'] {
    display: none;
  }

  [type='checkbox']:checked {
    + .custom-checkbox-wrap {
      .custom-checkbox-square {
        background: $viking;
      }
    }
  }

  .custom-checkbox-square {
    border: .2rem solid $ghost;
    display: inline-block;
    height: 1.5rem;
    vertical-align: bottom;
    width: 1.5rem;
  }
}

.header-region-section {
  float: left;
}

.header-middle-cart {
  padding: 0;
}

.cart-dropdown {
  border-bottom: .1rem solid $ghost;
  width: 32rem;
}

.cart-dropdown-top {
  border-bottom: .1rem solid $ghost;
  padding: 1rem 1.5rem;
}

.cart-dropdown-product-number {
  float: left;
}

.cart-dropdown-product-price {
  float: right;
}

.cart-dropdown-product {
  padding: 1rem 1.5rem;
  position: relative;

  .fa {
    color: $ghost;
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;

    &:hover {
      color: $viking;
    }
  }
}

.cart-dropdown-product-img {
  background: #000;
  height: 8rem;
  float: left;
  width: 8rem;
}

.wrap-cart-product-review {
  float: left;
  margin-left: 1rem;
  width: 20rem;
}

.cart-product-title-link {
  color: $trout;
  display: inline-block;
  margin-bottom: 2rem;

  &:hover {
    color: $trout;
    text-decoration: underline;
  }
}

// Header-bottom
//-------------------------

.header-bottom-profile {
  background: url("../images/header-profile-bg.jpg") no-repeat/cover;
  height: 25rem;
  object-fit: cover;
  o-object-fit: cover;
  position: relative;
  margin-bottom: 3rem;

  @media all and (max-width: $smScreen) {
    height: 100%;
    margin-bottom: 5rem;
  }
}

.header-bottom-nav-wrap {
  background: $whiteOpacity;
  bottom: 0;
  position: absolute;
  width: 100%;

  .header-middle {
    padding: 1rem 0;
  }

  @media all and (max-width: $smScreen) {
    position: relative;
    z-index: 10000;
  }
}

.header-bottom-nav {
  @media all and (max-width: $smScreen) {
    padding: 0 2rem;

    .navbar-nav {
      margin: 1rem 0;
    }

    .header-middle-nav-link {
      border-bottom: .1rem solid $ghost!important;
    }
  }
}


















