//-------------------------
// Sidebar-profile
//-------------------------

.sidebar-position {
  @media all and (min-width: $lgScreen) {
    position: relative;
    top: -22.5rem;
  }

  .sidebar-title {
    font-size: 1.6rem;
    display: inline-block;
  }
}

.profile-info-wrap {
  border: .1rem solid $solitude;
  box-sizing: border-box;
}

.profile-info {
  padding: 1rem;
}

.profile-img {
  margin-bottom: 2rem;
  width: 100%;
}

.profile-info-name-text {
  color: $trout;
  font-family: $openSansBold;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.profile-info-name {
  position: relative;
}

.profile-online,
.friend-online {
  background: $viking;
  border-radius: 50%;
  height: .75rem;
  position: absolute;
  right: 0;
  top: 0;
  width: .75rem;
}

.profile-info-list {
  font-size: 1.6rem;

  .fa {
    color: $nobel;
    display: inline-block;
    margin-right: .5rem;
    text-align: center;
    width: 1.5rem;
  }
}

.profile-info-item {
  margin-bottom: 1rem;
}

.profile-info-rate {
  font-family: $openSansBold;
}

.profile-info-number {
  color: $gray;
}

.profile-info-link {
  color: $grayDark;
  &:hover {
    color: $viking;
  }
}

.sidebar-title-number {
  color: $nobel;
  font-size: 1.6rem;
}

.sidebar-comment {
  background: $heather;
  color: $white;
  cursor: pointer;
  text-align: center;
}

.sidebar-comment-text,
.sidebar-comment-icon {
  float: left;
  padding: 1rem 0;
}

.sidebar-comment-text {
  border-right: .2rem solid $white;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $openSansBold;
  line-height: 1.2;
  width: 75%;
}

.sidebar-comment-icon {
  width: 25%;
}

.sidebar-title-wrap {
  position: relative;

  > .fa {
    color: $heather;
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    top: .25rem;
  }
}

.sidebar-section-img-wrap {
  width: 49%;
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 2%;
  min-height: 13rem;
  overflow: hidden;
  position: relative;

  &:nth-child(2n) {
    margin-right: 0;
    margin-left: -.5rem;
  }
}

.section-img-title-link-wrap {
  background: $blackOpacity;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: .5rem;
}

.section-img-title-link {
  color: $white;
  font-size: 1.4rem;
  max-height: 4.25rem;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.sidebar-section-img {
  display: block;
  min-height: 13rem;
  width: 100%;
}

.sidebar-section-img-wrap-small {
  min-height: 8.5rem;
  display: inline-block;
  margin-bottom: 2%;
  margin-left: -.5rem;
  margin-right: 2%;
  overflow: hidden;
  position: relative;
  width: 32%;

  &:nth-child(2n) {
    margin-right: 2%;
    margin-left: -.5rem;
  }

  &:nth-child(3n) {
    margin-right: 0;
    margin-left: -.5rem;
  }

  &:first-child,
  &:nth-child(4n),
  &:nth-child(7n) {
    margin-left: 0;
  }

  &:nth-child(8n) {
    margin-left: -.5rem;
  }

  .section-img-title-link {
    display: block;
    font-size: 1.2rem;
    height: 2.6rem;
    position: relative;
  }
}

.sidebar-section-img-small {
  display: block;
  min-height: 8.5rem;
  width: 100%;
}

.friend-online {
  height: .5rem;
  right: -1rem;
  top: .75rem;
  width: .5rem;
}

.sidebar-rating-wrap {
  margin-bottom: 2rem;
}

.rating-item {
  color: $white;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.2rem;
  height: 2.4rem;
  line-height: 2;
  text-align: center;
  width: 9.09%;

  &:hover {
    transition: All .25s linear;
    transform: scale(1.2);
  }
}

.rating-item-1 {
  background: #24c5d3;
}

.rating-item-2 {
  background: #66c8d4;
}

.rating-item-3 {
  background: #75d0da;
}

.rating-item-4 {
  background: #97d8df;
}

.rating-item-5 {
  background: #c1e4e8;
}

.rating-item-6 {
  background: #ebf0f4;
}

.rating-item-7 {
  background: #f3d7da;
}

.rating-item-8 {
  background: #f79ea5;
}

.rating-item-9 {
  background: #f4818a;
}

.rating-item-10 {
  background: #f46b75;
}

.rating-item-11 {
  background: #ef5560;
}

#calendar {
  //width: 100%;
  margin: 0 auto;
  font-size: 10px;
}
.fc-header-title h2 {
  font-size: 1.2em;
  white-space: normal !important;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
  font-size: 0;
  overflow: hidden;
  height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
  font-size: 0;
  overflow: hidden;
  width: 2px !important;
}
.fc-agenda-axis {
  width: 20px !important;
  font-size: .7em;
}

.fc-button-content {
  padding: 0;
}
