/*----- Bread Crumbs -----*/

.mainBreadCrumbs{
  background: $primeColor;
  margin-bottom: em(50px);
}

.breadCrumbsList {
  margin: 0 15px;
}

.breadCrumbsItem{
  display: inline-block;
  color: $whiteColor;
  padding: em(5px) 0;
  &:after{
    content: '/';
  }
  &:last-child{
    &:after{
      content: '';
    }
  }
}

.breadCrumbsLink,
.breadCrumbsText{
  font-size: em(12px);
  color: $whiteColor;
}