/*----- New Goods and You Saw -----*/

.newGoodsTop{
  background: $primeColor;
  overflow: hidden;
  margin-bottom: em(25px);
  padding: 0 10px;
}

.newGoodsTitle{
  text-transform: uppercase;
  color: $whiteColor;
  font-size: em(25px);
  float: left;
  font-weight: 400;
  line-height: em(20px);
}

.youSawTop{
  margin-bottom: em(25px);
}

.youSawTitleTop{
  text-transform: uppercase;
  font-size: em(25px);
}

.newGoodsAll{
  @extend %link;
  float: right;
  line-height: em(35px);
}

.newGood,
.youSaw,
.catalogProduct{
  text-align: center;
}

.blockNewGoodImg,
.blockYouSawImg,
.blockCatalogProductImg{
  border: 1px solid $greyLightColor;
  overflow: hidden;
  margin-bottom: em(15px);
  display: block;
  &:hover{
    border-color: $greyDarkColor;
  }
}

.newGoodImg,
.youSawImg,
.catalogProductImg{
  max-width: 220px;
}

.newGoodTitle,
.youSawTitle,
.catalogProductTitle{
  font-size: em(18px);
  font-weight: 400;
  color: $primeColor;
  margin-bottom: em(5px);
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.newGoodCod,
.youSawCod,
.catalogProductCod{
  color: $greyDarkColor;
  font-size: em(14px);
  margin-bottom: em(15px);
}

.newGoodPrice,
.youSawPrice,
.catalogProductPrice{
  font-family: Roboto-bold, sans-serif;
  font-size: em(18px);
  color: $primeColorSecond;
  margin-bottom: em(15px);
}