
%link{
  color: $primeColorSecond;
  &:hover{
    color: darken($primeColorSecond, 5%);
    text-decoration: underline;
  }
}

%btn{
  color: $whiteColor;
  background: $primeColorSecond;
  @include border-radius($borderRadius);
  &:hover {
    color: $greyLightColor;
    background: darken($primeColorSecond, 5%);
    text-decoration: none;
  }
}

%titleUpper{
  text-transform: uppercase;
}

%title{
  color: $primeColorSecond;
  font-size: em(24px);
  font-family: Roboto-mediun, sans-serif;
}